[2022-04-12 21:45] alaindargelas commented on #2848
That is by design.
When the LHS is not a primitive type (int, logic) and has ranges, or multidimensional the concat is preserved (not reduced).
When it is referenced later in the code, the part of the contact that is referred is used and potentially selected.

[2022-04-12 21:45] #2848 closed

[2022-04-12 21:48] alaindargelas commented on #2799
Can you either propose a fix or a concrete testcase to reproduce ?
Exact command line, sample input file

[2022-04-13 03:58] alaindargelas commented on #2799
That is not legal, the preprocessor fails, there is no condition for the ifdef
Error code 1 is FATAL/SYNTAX ERROR

[SNT:PP0106] tests/ScratchPad.sv:2:6: Syntax error: mismatched input '\n' expecting Spaces,
`ifdef
      ^-- tests/ScratchPad.sv:2:6:.

[2022-04-13 04:03] hzeller commented on #2799
That file might have a syntax error, but it actually happens with any file:

[code]

slpp_all also looks good
[code]

So processing works fine, no errors are reported but the exit code is 1 for some reason.

[2022-04-13 05:00] alaindargelas commented on #2799
-nohash does not work for a file on the current dir.... bug

[2022-04-13 05:04] alaindargelas commented on #2845
@hs-apotell, third_party/antlr contains your RTTI changes, the latest Antlr is supposed to fix the same + some other speedup
I tried to merge, but failed, I already updated alainmarcel/antlr and I put the new .jar file there.
Please update the third_party/antlr, once that is done I'll remove the fast_antlr and we can use the regular antlr.
We can also get rid of the indirection to alainmarcel/antl

[2022-04-13 06:53] hs-apotell commented on #2845
We cannot have a clone of antlr within Surelog because we use antlr for other parsing in our tool and that creates a conflict. Locally in our fork of Surelog we don't use antlr_fast for that reason. We will have to use a forked version of antlr and that would be a submodule (not a subsystem).

Also, I would recommend transferring the ownership of alainmarcel/antlr to chipsalliance. It won't break

[2022-04-13 07:12] hzeller commented on #2845
The goal is to use upstream antlr, so any submodule will just point to there (and the submodule is just for the convenience of the people who don't want to install a local antlr)

We also don't use the Surelog antlr but just link against our local copy of upstream and then link Surelog against that which works well (which is why it is extra exciting to now use that upstream with is already faster

[2022-04-13 07:30] hs-apotell commented on #2845
Using antlr/antlr4 with no modifications is even better. I interpreted @alaindargelas comment as going back to what used to be a local copy of antlr modified for use with Surelog only.

If the plan is to use pristine antlr/antlr4 then what's there to merge? We just need to update the entry in .gitmodule to pull the relevant repository and we should be done. What am I missing??

[2022-04-13 07:34] hzeller commented on #2845
Exactly: changing .gitmodule to the upstream antlr and then have one directory with the pre-generated jar file (as that otherwise would require a whole lot more dependencies with maven and stuff).

[2022-04-13 08:05] hs-apotell commented on #2541
There is already a schema named 'import' which is used for representing package import. There's only a single 'constant' property. Can we use this schema to represent file import as well or would you rather define a new schema?

Also, any reason why it's named `import` and not `import_typespec`??

[2022-04-13 20:01] alaindargelas commented on #2845
@hs-apotell, please submit the PR with the updated .gitmodule, .jar saved under Surelog/third_party/antlr_comp/antlr4-4.10.1-complete.jar and the changes to the Cmake to point to that by default, also remove the antlr_fast directory.

[2022-04-13 20:09] QuantamHD opened #2852 "Add debug logging to verify that Surelog is using the cache."
I'm writing some bazel rules for Surelog at the moment, and I want to make sure that Surelog is making good use of the cache. Can we add a debug message that says whether or not a particular file is using the cache?

[2022-04-13 20:26] alaindargelas commented on #2541
Please create a new schema.

Sorry, I used a wrong name, based on the struct above.

It should be:

include_file_info.yaml

obj_def: include_file_info
.....

typespec is for data type.

[2022-04-14 05:31] alaindargelas commented on #2852
Fixed by #2853
#2853 also honors the Preproc cache with -nohash

[2022-04-14 05:31] #2852 closed

[2022-04-14 07:25] hs-apotell opened #2855 "'import' is a keyword in C++20"
There's a UHDM model named import which doesn't compile with C++20. I would like to change this.

Should it be renamed 'import_stmt' or 'import_typespec'. It is a subclass of `typespec` but this isn't really a data type but 'import_typespec' would be consistent with all other subclasses of `typespec`.

[2022-04-14 10:33] hs-apotell commented on #2845
Running into number of issues -
* antlr4 binaries available for download require java11 runtime. Previous version needed java8. The two versions are vastly different and there is no jre11 installation available for Windows.
* Cpp runtime on Windows has compile errors.
https://github.com/antlr/antlr4/blob/ae1bf405f0071ad06dc7fc3105d074aad1130135/runtime/Cpp/runtime/src/ANTLRFileStream.cpp#L17
There

[2022-04-14 15:33] hzeller commented on #2845
The `antlrcpp::s2ws` should now be fixed at head.

[2022-04-14 15:40] alaindargelas commented on #2855
Change it to import_typespec I forgot exactly why we made it a child of typespec, I think it is saved in a typespec container.

[2022-04-14 16:29] QuantamHD commented on #2845
@hs-apotell Java 11+ based apps no longer require a JRE installation. Java 11 based apps are supposed to bundle a java implementation into their binary

https://stackoverflow.com/questions/52584888/how-to-use-jdk-without-jre-in-java-11#:~:text=Oracle%20no%20longer%20intends%20for,bundle%20their%20own%20Java%20implementation.

[2022-04-14 16:54] 0x5b25 opened #2856 "Compile failing on windows msvc because of cmake binary output paths"
Compile failing  on windows msvc because of cmake binary paths, capnp.exe and surelog.exe can't be found causing custom commands failed.

CMake with msvc is putting binaries inside `$<CONFIG>` subfolders, causing the problem

Environment:
  * cmake version 3.22.0
  * visual studio 2019, msvc 16.11.7(x64)

Current workaround:
change line 115 in third_party/UHDM/CMakeLists.txt
[code]

and line 603,

[2022-04-14 19:13] QuantamHD commented on #2799
slpa file generate is dumping all the files into the slpp_all/work directory they need to be sent to a folder representing their path.

a/b/c/d.v should result in these files

slpp_all/cache/work/a/b/c/d.v.slpp
slpp_all/work/a/b/c/d.v.slpa

Right now it results in:

slpp_all/cache/work/a/b/c/d.v.slpp
slpp_all/work/d.v.slpa

[2022-04-14 23:16] hs-apotell commented on #2845
Are we pulling in latest or staying with a release commit? I would recommend a release commit but that would mean waiting until the next release.

@hzeller @QuantamHD As for the Java releated concern - it seems that CMake picks Java 8 over Java 11, especially if there is no version specification required or only the Runtime is requested. Will need some time to test this and find a working solution

[2022-04-15 00:09] hzeller commented on #2845
I would track head of antlr4. The development stuff happens in their dev branch, so head is essentially the stable release (including minor fixes they added now). So no need to wait for the next release.

Can we CMake tell to use Java11 ? It sounds like a thing that some CMAKE variable will fix.

[2022-04-15 01:58] alaindargelas commented on #2855
Fixed by #2860

[2022-04-15 01:58] #2855 closed

[2022-04-15 23:40] QuantamHD commented on #2799
@alaindargelas This is working as intended. The only question I have is it possible to avoid reading the preprocessor cache? We know that we don't plan to change any define options once in the linking phase. This would help reduce the memory pressure on the process.

[2022-04-15 23:41] QuantamHD commented on #2844
Any update on this Alain? Would be happy to help implement if you have other tasks right now. I just need a bit of direction on where to look.

[2022-04-15 23:43] hs-apotell opened #2861 "IncludeFileInfo is duplicated with cache enabled"
Test: PreprocFunc

Logs from two consecutive runs attached.
[run1.log](https://github.com/chipsalliance/Surelog/files/8498911/run1.log)
[run2.log](https://github.com/chipsalliance/Surelog/files/8498910/run2.log)

Notice the IncludeFileInfo dump at the top of the files. The number of entries in the second log is twice as many as in first.

[2022-04-15 23:46] QuantamHD opened #2862 "Further clarification on parametersubstitution feature"
What exactly happens when you enable/disable this feature, and is it useful to enable or disable it for yosys?

[2022-04-16 02:37] hs-apotell commented on #2856
The builds on CI are passing and so are local builds as well. I am building it locally almost daily. Please check your configuration.

If you are using VS to build, please share your CMakeSettings.json file.

[2022-04-16 04:38] alaindargelas commented on #2799
Yes, with #2863 the slpp only reloads the error/warning messages and not the bulk of the data.

[2022-04-16 04:38] #2799 closed

[2022-04-16 04:41] alaindargelas commented on #2862
@rkapuscik @kbieganski asked for it for Yosys, they might be able to shed better light than me on the matter.
It would be good to add a pointer to the Yosys plugin and show where this option is set.

[2022-04-16 22:25] hs-apotell commented on #2845
Yes, that's what I was doing or at least I thought I was doing. I modified the CMakeLists.txt and set the recommended JAVA_HOME variable. CMake still wouldn't pick the correct Java version (I have multiple version installed on my system). As it turns out, JAVA_HOME needs to be set as environment variable only. Passing it to CMake as a variable assignment i.e. -D option doesn't work. With that reso

[2022-04-17 08:34] alaindargelas commented on #2844
Fixed by #2868

[2022-04-17 08:34] #2844 closed

[2022-04-19 08:44] alaindargelas commented on #2831
I'm working on this, it is a large changelist and it increases runtime and uhdm size as it duplicates the packages

[2022-04-20 00:03] hzeller commented on #2845
Looks like https://github.com/antlr/antlr4/pull/3663 is merged.

[2022-04-20 07:50] alaindargelas commented on #2831
Fixed by #2875

[2022-04-20 07:50] #2831 closed

[2022-04-20 07:50] alaindargelas commented on #2755
Will be addressed by #2845

[2022-04-20 07:50] #2755 closed

[2022-04-20 07:54] alaindargelas commented on #2856
@0x5b25, can we close this issue?

[2022-04-20 08:22] alaindargelas commented on #2820
This particular issues is fixed:

|uhdmtopModules:
....
        \_hier_path: (keymgr_data_i.strb[i]), id:18, line:2:17, endln:2:38, parID:17
          |vpiName:keymgr_data_i.strb[i]
          |vpiActual:
          \_ref_obj: (keymgr_data_i), id:19, line:2:17, endln:2:30, parent:keymgr_data_i.strb[i], parID:18  <<< ref_obj
            |vpiName:keymgr_data_i
          |vpiActual:
          \_bit_sel

[2022-04-20 08:22] #2820 closed

[2022-04-20 08:23] alaindargelas opened #2880 "Surelog should error out on undefined hierarchical path"

[2022-04-20 08:48] 0x5b25 commented on #2856
Fine. I'll try a clean install of windows and cmake some other day i guess

[2022-04-20 08:48] #2856 closed

[2022-04-20 16:38] hs-apotell commented on #2845
Yes. I am off work this week. Will work on this following Monday.

[2022-04-22 08:12] rkapuscik opened #2881 "Question regarding parameter override"
I wanted to check if this is a regression or an expected change - it used to work for previous versions of Surelog.
For the following file:
[code]
When running Surelog with `surelog -parse -d uhdm -nobuiltin -Pbar=1 test.sv` I see the error:
[code]
But the parameter is present in UHDM:
[code]
The error goes away if we specify the top module with `surelog -parse -d uhdm -nobuiltin -Pbar=1 -top foo

[2022-04-25 05:41] alaindargelas commented on #2881
Fixed by #2885

[2022-04-25 05:41] #2881 closed

[2022-04-25 06:15] hs-apotell commented on #2845
https://github.com/antlr/antlr4/pull/3663 isn't merged into master yet. Do you want to track a specific commit for now??

[2022-04-26 06:59] hs-apotell commented on #2845
Fixed by #2886

[2022-04-26 06:59] #2845 closed

[2022-04-26 22:27] hs-apotell opened #2888 "Inconsistent use of typespecs with parameters"
Test: ArianeElab

https://github.com/chipsalliance/Surelog/blob/b3db4c695d0007fe9350906cfda276ae6c5563a7/tests/ArianeElab/dut.sv#L15-L20

[code]

The statement on line 15 has `int_typespec` but the others have none.

[2022-04-27 05:11] #2862 closed

[2022-04-27 11:24] hs-apotell opened #2890 "tcl regression scripts"
Just noticed that CI is using tcl regression scripts for all unix-like platforms. Was this intentional or accidental?

Tcl scripts don't report failure when the tests fail so issues during regression go unnoticed.

@hzeller You updated the workflow script recently. Any reasoning?

[2022-04-27 15:09] hzeller commented on #2890
Ah, I was mostly playing with the new right-aligned numbers there and it also provides the sum of CPU time of all tests ('total user time') which gives a good idea of performance (whereas the Python version just showed the test with the maximum time). Since I needed more accurate process timing information then while working on some things to not introduce performance regressions (until #2802 is u

[2022-04-30 20:40] hs-apotell commented on #2541
Fixed by #2892

[2022-04-30 20:40] #2541 closed

[2022-04-30 20:44] hs-apotell commented on #2349
Punt. No more an issue after switching to use pristine antlr (support for utf8 is now optional/deprecated).

[2022-04-30 20:44] #2349 closed

[2022-05-01 03:58] hello-eternity opened #2898 "UHDM coverage point to empty source line"
I got an error like the title. The detailed error information is like this
![error](https://user-images.githubusercontent.com/46994147/164953033-68ad08e2-1bf3-4c29-8ef6-4a688d6452a5.png)

I should delete the empty source line to fix it.
This is the test case [https://github.com/hello-eternity/test_orv64_uhdm](https://github.com/hello-eternity/test_orv64_uhdm )
In the Makefile.in , $(TEST_DIR) need

[2022-05-02 06:24] hs-apotell commented on #2890
Fixed by #2897

[2022-05-02 06:24] #2890 closed

[2022-05-02 11:29] hs-apotell opened #2901 "Package localparam reduction"
In some cases, `localparam` in allpackages list are getting reduced. Here's one such case -
[code]
The `Y` member in `pkg2` shouldn't be reduced to corresponding constant. It should be a `ref_obj` to `pkg1::X`
[code]

[2022-05-05 07:50] hs-apotell commented on #2898
@alaindargelas I did some digging into this issue and I don't believe this was caused by the recent preprocessor change. For instance, `PpLppdr` test has been reporting a similar error long before this PR was merged in master.

https://github.com/chipsalliance/Surelog/blob/2643c07e32328c5fecc776a312c616ab4c202737/tests/PpLppdr/PpLppdr.log#L118

I believe the issue is related to multiline macros. T

[2022-05-05 08:40] hs-apotell commented on #2898
This seems like an issue in grammar or might need some other way to let embedded macros be evaluated recursively. For the following input -
[code]
current grammar is treating line 4, 5 and 6 as `text_blob` and end up in the AST which later get reported as error when iterated in UhdmChecker.

[2022-05-06 08:50] hs-apotell opened #2910 "RoundTrip data missing in log files"
Seems like log files are being updated from local runs using tcl scripts and the roundtrip data that gets appended is missing.

[2022-05-06 23:05] hzeller opened #2912 "Significant regression slowdown since recent filename trimming in ParseCache"
Since https://github.com/chipsalliance/Surelog/commit/7058df79d099388e95f9664efdf484c9970aa73d the runtime of the regression is
noticeably slower; on my machine it changed from about 1050 second CPU time to 1720 seconds CPU time.

Wihtout the change in ParseCache (so essentially applying the following patch, reversing that change), the CPU time reported by the regression test (`make regression`) i

[2022-05-07 05:49] alaindargelas commented on #2912
Wow, I noticed the slowdown but could not attribute it to this change. Completely out of expectation.
This change was to fix the path of the slpp and slpa files to be in the same directory with -nohash, before this change, the slpa was saved in the wrong location, outside the cache directory, it was saved alongside the post preprocessor source file.

How can this code change slow the regression be

[2022-05-07 05:54] alaindargelas commented on #2910
Fixed, I'll monitor this the regression is stable with this data.

[2022-05-07 05:54] #2910 closed

[2022-05-07 06:12] alaindargelas commented on #2912
Fixed by #2914
That line was the culprit
fs::path cacheDirName = m_parse->getSymbol(cacheDirId);

When called early in the function, it might have received more illegal paths strings, not really sure what is happening in that filesystem::path variable init....

[2022-05-07 06:12] #2912 closed

[2022-05-10 21:38] QuantamHD opened #2924 "Select Out of Bounds Warning in SystemVerilog Plugin"
This might be unrelated to Surelog/UHDM, but the plugin emits warning on the following snippet of SV.

[code]

## Error

[code]

[2022-05-11 02:41] QuantamHD commented on #2924
@alaindargelas I did some debugging and it looks like len is being returned as a VPIRef Object when it appears like it should be a parameter. Is that correct?
<img width="1729" alt="image" src="https://user-images.githubusercontent.com/3784748/167758107-8ee8c1ae-b587-47ca-a1fc-80e82d21645d.png">

[2022-05-11 05:51] alaindargelas commented on #2924
@QuantamHD, that is OK, as the ref_obj actual is the actual value of the parameter. The plugin knows how to do that.
It took me some time to compile the plugin and debugging, but I got it. I'll fix it tomorrow.
The issue is a Surelog issue, the "reg signed" keyword  combination is the problem, it prevents the parsing of the actual dimension of the reg.
If you temporarily remove "signed" everything

[2022-05-11 05:57] alaindargelas commented on #2924
Minimum testcase:
[code]
Missing range:

[code]

[2022-05-11 23:18] hs-apotell opened #2928 "Task reports a wrong begin"
From builtin.cpp

[code]

Reported UHDM:
[code]
Notice mailbox put and get has arguments but no begin statements. Whereas process's 4 tasks have no arguments but has begin statements. Seems like zero arguments is somehow introducing a begin statement for tasks.

[2022-05-12 05:26] alaindargelas commented on #2924
@QuantamHD @rkapuscik With #2929, you can now see the range of the var.
But I tried the Yosys plugin and the same warning message appears, so something has to happen in the plugin code.

While digging, I found more sub issues that I'll update later on, they are about the sign-ness and typespec of the functions return values in general.

[2022-05-12 05:56] hzeller commented on #2924
@rkapuscik @tgorochowik can you coordinate what needs to be done in the plugin ?

[2022-05-12 06:01] hs-apotell commented on #2898
@alaindargelas Need your input on this.

[2022-05-12 22:27] hzeller commented on #2924
If the parameters are changed, the problem arises again; I think the problem is parameter propagation. Let's modify @QuantamHD example above and replace top()

[code]

The expectation is that all the functions that derive not only the return value (which now seems to be fine), but also some of its other input/output widths from parameters
[code]

... still have the width coming from the `module sh

[2022-05-12 23:33] teqdruid opened #2931 "[Bug] Parser just spins forever"
OK... this might be the least useful bug report of all time since I can't share the code which triggers the hang and haven't had time (and likely won't anytime soon) to boil it down to something I can share. It's non-trivial code (it uses structs and enums which are in packages), though nothing particularly heinous (syntactically speaking) jumps out at me. It looks to be an FSM (not my code).

Her

[2022-05-13 00:13] teqdruid commented on #2931
Actually, whittling it down was pretty simple. The below is something which "hangs" and I feel comfortable posting. One thing I noticed: if there's only one 'if' block it parses pretty quickly, but as I add back more and more it gets worse and worse until it _appears_ to hang. So it could just be bad exponential behavior. Last week, I let it run for a few hours and it didn't finish.

[code]

[2022-05-13 00:22] alaindargelas commented on #2931
@QuantamHD, your grammar fix was supposed to address these scenarios. Can you check what is the twist in this case?

[2022-05-13 00:59] QuantamHD commented on #2931
Initial thoughts are that this caused by the for loop. I'll upload a profile of the grammar to confirm

[2022-05-13 02:46] teqdruid opened #2932 "[Bug?] Casting to a width stored in a struct"
I have no idea if this is valid SystemVerilog, but Questasim and Quartus accept it and we use it all over our code.

[code]

[code]

In order to get Surelog to parse it, I have to surround `w.WIDTH` with parens. Seems like a precedence issue in your grammar.

[2022-05-13 04:14] alaindargelas commented on #2931
Actually, I didn't read carefully the code.
The generate statement is the loop.
@QuantamHD, your optimization was for if-else-generate.

The if-else here is just a regular if-else, not a generate one, we don't have an optimization for that so the grammar goes exponential.

[2022-05-13 04:40] QuantamHD commented on #2931
@teqdruid I don't know if your real module has any inputs, but if you replace

[code]

with

[code]

Things will get a bit faster, especially if this a giant file..

[2022-05-13 04:55] alaindargelas commented on #2932
It's legal, the grammar had that particular rule commented out for runtime issues, I'll reactive it. UHDM compilation still need to get update to support hier_path object as a cast typespec.

[2022-05-13 06:16] alaindargelas commented on #2932
#2933 fixes the grammar part, UHDM still has to be updated.

[2022-05-13 20:29] teqdruid commented on #2931
It does have ports.

More to the point, I was testing if Surelog parses one of our large code bases unmodified.

[2022-05-14 02:41] hs-apotell commented on #2928
Fixed by #2934

[2022-05-14 02:42] #2928 closed

[2022-05-14 06:09] alaindargelas commented on #2924
Fixed by #2936 , typespec where reduced to constants prematurely, so the parameters values (correctly propagated) could not be substituted (as the expressions where reduced). Also fixed the UHDM elab to point the function calls to the cloned functions in scope of the module instance instead of the function declaration.

Yosys seems happy after this fix:
[  FATAL] : 0
[ SYNTAX] : 0
[  ERROR] : 0
[W

[2022-05-14 06:09] #2924 closed

[2022-05-14 23:14] hzeller commented on #2924
Thank you, looks like that fixed it!

[2022-05-16 21:01] QuantamHD commented on #2931
@alaindargelas So it looks like main pain point in this code is the generate_item. I would expect that the semantic_predicates would selectively filter this out. Any thoughts on confounding variables?

![image](https://user-images.githubusercontent.com/3784748/168681685-d56fa3ea-becf-4626-bc0d-a57217e380a7.png)

[2022-05-16 23:52] QuantamHD commented on #2931
@teqdruid How long does the above snippet take to run on your machine?

[2022-05-17 00:58] teqdruid commented on #2931
With the same commit, the clip I reported takes 66 seconds. When I copy-paste two additional `if` blocks, it takes 581 seconds.

[2022-05-17 03:17] alaindargelas commented on #2931
Fixed by #2939, now runs in 0.1s
@QuantamHD, please check if that does not break your internal testcase.
If this changelist works for all, we don't need the predicates anymore.

[2022-05-17 04:43] QuantamHD commented on #2931
@alaindargelas Our internal module is at about 60 seconds of parsing which is well within acceptable.

[2022-05-17 05:38] alaindargelas commented on #2932
Fixed by #2940

[2022-05-17 05:38] #2932 closed

[2022-05-17 05:39] alaindargelas commented on #2931
I'll keep the predicate in the grammar as code example, but they are not used, until the next issue alike arises.

[2022-05-17 05:39] #2931 closed

[2022-05-17 21:24] teqdruid commented on #2932
This worked on our large internal codebase. I think our code now parses, but now `hellosureworld` is segfaulting after a `CP0335` message. The `COMP` phase is after the parse phase, yes?

[2022-05-17 21:25] teqdruid commented on #2932
Nope. Nevermind

[2022-05-17 21:33] teqdruid opened #2942 "Segfault in compilation step"
Same large code base I've been pushing on, now encountering this segfault: [uhdm_segfault.txt full](https://github.com/chipsalliance/Surelog/files/8711726/uhdm_segfault.txt). Again, I can't provide the code which triggers this segfault.

[code]

Very likely a Surelog bug rather than a UHDM bug. Addresses for `this` all of the args fail reads in lldb. Appears to be infinite recursion.

Commit daa52

[2022-05-17 21:36] teqdruid commented on #2942
That's the wrong stack trace. Hold on.

[2022-05-17 21:47] teqdruid commented on #2942
OK. We're good now. I had catch on throw on. Oops.

[2022-05-17 22:08] QuantamHD commented on #2942
Good as in you no longer get the segfault?

[2022-05-17 22:21] teqdruid commented on #2942
Let me rephrase: that's the correct stack trace. I still get the segfault.

On Tue, May 17, 2022 at 3:08 PM Ethan Mahintorabi ***@***.***>
wrote:

[2022-05-17 23:28] hs-apotell commented on #2942
Could you try PR #2935. I fixed one such issue in Google test. This was the only test that caused segfault with my change. Unfortunately the change was over a few weekends and I don't remember the exact root cause or the specific change itself.

[2022-05-18 04:00] alaindargelas commented on #2942
That test also produces an infinite stack (simpler), it looks like I need to implement a loop detection mechanism in the evaluation.

module Foo ();
 parameter P1 = P2;
 parameter P2 = P1;
endmodule

[2022-05-18 04:20] QuantamHD commented on #2942
It feels like the above shouldn't be allowed because it references a variable that isn't defined yet, but I'm sure this is allowed by the spec.

It feels like this could get really complicated. Is the rule that no parameter can expand into itself?

[2022-05-18 06:00] alaindargelas commented on #2942
@teqdruid, please try #2944
You should see an error message like:
https://github.com/chipsalliance/Surelog/blob/beb0e674a0b6915ab49e78f617f24e9d35776b48/tests/LoopParam/LoopParam.log#L59

that should point to the right place to start creating a small design that reproduces the error, or potentially find an error in the design (Self referencing expressions).

[2022-05-18 06:03] alaindargelas commented on #2942
@QuantamHD, my example is definitely not legal, decent tools would report a self referencing expression in parameters.
If it was nets, there are many tools that report asynchronous loops (across multiple modules), that is legal by the language, but usually bad design, unless you have a thing for free-running oscillators...

[2022-05-18 20:50] teqdruid commented on #2942
With #2944 it spins forever and eats memory continuously.

[2022-05-18 21:50] teqdruid commented on #2942
@hs-apotell With #2935, it still segfaults but with a different stack trace:

[code]

But after a different log message (still CP0355).

[2022-05-18 23:17] alaindargelas commented on #2942
I don't think this draft PR is going to help at all here: https://github.com/chipsalliance/Surelog/pull/2935

@tedruid, Can you set a breakpoint here:
https://github.com/chipsalliance/Surelog/blob/beb0e674a0b6915ab49e78f617f24e9d35776b48/src/DesignCompile/CompileHelper.cpp#L79
If it breaks there, you can
print fileName
print lineNumber
print instName

and get an idea where this is happening.

If i

[2022-05-19 03:26] alaindargelas commented on #2942
@teqdruid, #2947 should unwind the loop and we should see a location for the loop error(s).

[2022-05-20 04:20] alaindargelas commented on #2901
Fixed by #2950

[2022-05-20 04:20] #2901 closed

[2022-05-20 20:49] teqdruid commented on #2942
@alaindargelas I pulled down master, and it does indeed not segfault at that particular point. I'm now getting a _ton_ of elaboration errors (mostly a combination of `[ERR:EL0535]`, `[WRN:EL0515]`, `[ERR:CP0317]` and `[WRN:EL0500]`) so I'm not certain which one was causing the issue. I'm definitely missing some modules, but shouldn't be missing any packages. And I'm not sure the SV files are in th

[2022-05-21 06:00] alaindargelas commented on #2942
#2951 will fix that latest core dump, but there might be others behind, we have to go through the onion peeling, as the errors indicate missing defparams targets (WRN:EL0515), maybe because you have missing module defs WRN:EL0500. So some datastructures might be missing.
Those error messages should be addressed at some point, they'll make the elaboration more correct.

[2022-05-21 06:19] hs-apotell opened #2952 "Inconsistent typespec for localparams"
Input:
[code]

Output:
[code]

Note that first `localparam` has a `int_typespec` but the second one has none. Also, this is non-elaborated out and the input doesn't explicitly declare the type so the first declaration shouldn't have one either.

[2022-05-21 07:23] hs-apotell opened #2953 "Remove variables::VpiSigned?"
`variables` have `typespec` and `typespec` also have `VpiSigned`. Is `variables::VpiSigned` remnant from time before `typespec`? Can this be removed?

[2022-05-21 09:37] hs-apotell opened #2954 "Duplicate variables in function"
Input:
[code]
Output:
[code]

Note the three instances of `string_var` variable `str` with ids 25, 27 and 29. Issue is not specific to `string` only.

[2022-05-22 20:56] alaindargelas commented on #2799
@QuantamHD, with https://github.com/chipsalliance/Surelog/pull/2956
You should be able to simply call:

surelog -init

surelog -sepcomp -nohash .... file set 1 ....             \  In parallel
surelog -sepcomp -nohash ...... file set n .....          /

surelog -link -nohash    (-elabuhdm)

See README, SEPARATE COMPILATION FLOW OPTIONS
And example:
https://github.com/chipsalliance/Surelog/blob/mast

[2022-05-22 20:58] alaindargelas opened #2957 "Segfault on Windows TestSepCompNoHash"
@hs-apotell, can you check what is happening there?

https://github.com/chipsalliance/Surelog/runs/6545609323?check_suite_focus=true

Is it a real segfault? or just the script is not executed correctly?

[2022-05-23 18:02] hzeller commented on #2799
I think the README needs an example like that.

[2022-05-24 05:15] alaindargelas commented on #2957
@hs-apotell, can we write those scripts in a operating system agnostic way?
They are very simple list of commands. Those tests should be validated on Windows too.
Fixed by #2959

[2022-05-24 05:15] #2957 closed

[2022-05-24 05:40] hs-apotell opened #2961 "Implement a OS agnostics method to run shell scriptted tests"
There are a few tests that are run using shell scripts. These aren't portable on Windows. One way to run the same tests on windows would be to read each command and execute them explicitly from within regression script. Need some exploration.

[2022-05-24 05:40] hs-apotell commented on #2957
Opened #2961. Will revisit as time permits.

[2022-05-24 05:45] hs-apotell opened #2962 "Investigate why regression script keeps stalling on Unix"
Too many CI builds seem to be getting stuck on regression and never finishing.

[2022-05-24 22:13] alaindargelas opened #2966 "Google test has a diff in CI (Can't explain yet)"

[2022-05-25 03:29] alaindargelas commented on #2406
That seems to be largely fixed by #2963

[2022-05-25 03:29] #2406 closed

[2022-05-25 03:57] alaindargelas commented on #2966
The problem is with the python regression system, it does not clean correctly when running the Google test locally.
The tests/regression.tcl system does clean correctly and the test always gives the same answer.
With the python implementation, some cache files seem to persist and since this is a batch test (Many tests run in a single surelog batch test), the answer depend if you are running in a f

[2022-05-25 04:04] alaindargelas commented on #2898
Complete testcase to reproduce de issue
[code]

[2022-05-25 04:15] alaindargelas commented on #2898
The macro expansion in the text seems correct, since the macro body starts with a \ there is a carriage return offset at the site of the macro:

![Screenshot from 2022-05-24 21-13-01](https://user-images.githubusercontent.com/63669492/170178409-9c72d15e-48ab-4b70-a942-dc1d80347821.png)

[2022-05-25 05:58] hs-apotell commented on #2966
Regression script takes a snapshot of the individual test folder before running the test and restores the same state at the end of that test (by moving whatever extra files exists in the folder to the output folder). Unless there are files already existing in these test folders (may be from previous runs) there shouldn't be any stale state.

Either way, I have added a step in the regression script

[2022-05-25 06:57] hs-apotell commented on #2966
The issue is that individual batch jobs write to this location and then the last one comes looking for them. Those will have to align for it to work. The script change is surely a patch. On top of that it ends up polluting the source test folders.

Feel free to open a new issue. This surely needs a deeper investigation. For now, the script change would do.

[2022-05-25 22:20] alaindargelas commented on #2966
Fixed by https://github.com/chipsalliance/Surelog/pull/2968

[2022-05-25 22:20] #2966 closed

[2022-05-27 16:41] hzeller commented on #2962
Unclear why they hange, but I think I'd start with using `getrusage()` to determine the resource usage in case the script runs under a Posix system (#2802) (or use the regression tcl script for now on Posix systems).

That way, we eliminate the polling of all processes which could conceivably be rate-limited or even blocked in the github virtual machines running CI.

[2022-05-27 18:09] hs-apotell commented on #2962
The regression script shouldn't be hogging the resource anymore. I introduced a longer sleep time a while back to release the CPU more aggresively and not compete with the running Surelog processes.

Switching to Tcl version is no more an option since it doesn't run RoundTrip process and there are other changes that were introduced to code generation which haven't been ported. The outputs of the t

[2022-05-27 18:13] hs-apotell commented on #2898
Fixed by #2969

[2022-05-27 18:13] #2898 closed

[2022-05-27 18:19] hzeller commented on #2962
I think the resource hogging is already greatly reduced, about 5% so about one core per 20 jobs run in parallel, so my only concern could be that the virtualization of the sandbox the CI is running in is limiting the access to poll the process list.

Runing two resource-intensive jobs in parallel also sounds like a potential plausible explanation for the hang.

[2022-05-27 23:29] hs-apotell opened #2981 "Add IWYU build to CI"
Add a [IWYU](https://include-what-you-use.org/) build to CI to reduce header bloat.

[2022-05-27 23:33] hs-apotell opened #2982 "Add support for Clang on Windows"
At the moment antlr doesn't build successfully with Clang on Windows. Need a few minor tweaks to the CMakeFile.txt to make it succeed.

Note: The goal is to support Clang/LLVM and NOT Clang-cl. The latter is M$ version of Clang that deviates heavily from standard.

[2022-05-28 06:34] hs-apotell opened #2985 "Print UhdmId by default in Uhdm output in logs"
Any reason the default is set to false? The ID information help's track a lot of issues and has been very handy in identifying issues.

Can we toggle the flag as default?

[2022-05-28 18:37] hs-apotell commented on #2982
@hzeller Could you assist in promoting [this](https://github.com/antlr/antlr4/pull/3678) PR to dev? These are few changes to antlr4 Cpp runtime CMakeFiles.txt to support building with Clang on Windows.

[2022-05-28 18:39] hs-apotell commented on #2962
Fixed by #2975

[2022-05-29 05:22] alaindargelas commented on #2985
Sure, it was very unstable at the beginning of the project since every time there is a new type of node or simply any new node added it shifts the IDs by the number of new nodes introduced. But things are stabilizing now. Add -d vpi_ids

[2022-05-31 00:48] alaindargelas commented on #2962
That problem still exist.

[2022-05-31 04:07] alaindargelas commented on #2942
@teqdruid, can we close this issue?

[2022-05-31 04:13] teqdruid commented on #2942
Yes, I believe this bug is fixed now.

Sorry I haven't had the chance to peel the onion further.

On Mon, May 30, 2022, 9:07 PM alaindargelas ***@***.***>
wrote:

[2022-05-31 04:29] #2942 closed

[2022-05-31 16:34] alaindargelas commented on #2962
@hs-apotell, I think it is more likely to hang when the diff output is large.

[2022-06-01 01:38] alaindargelas commented on #2962
Limiting the number of jobs to the number of cores with the python script makes it work all the time:
python3 scripts/regression.py run --jobs 8

[2022-06-01 02:23] hs-apotell commented on #2985
Fixed by #2988

[2022-06-01 02:23] #2985 closed

[2022-06-01 02:29] hs-apotell commented on #2962
The default is to use `multiprocessing.cpu_count` so it shouldn't be running any more jobs than the number of cores on the machine. I am not so sure about explicitly giving it on the command line should make any difference.

I would go with the _large diff output_ being more likely the cause. Question for you - Is the diff output in console window helpful? Generally speaking when the output logs a

[2022-06-01 02:53] alaindargelas commented on #2962
The partial diff output is useful for most of the changes I make like adding new property or fixing logic bugs.
It is also very handy to write the tkdiff command line at the end of the run for all the files that have diffs, instead to have to reconstruct that line manually.

[2022-06-01 03:08] hs-apotell commented on #2962
Okay! If the problem persists then I might add a parallel workflow with diff disabled to confirm the hunch. I don't see a failure in last few builds on CI so will hold off on any immediate action.

[2022-06-04 10:40] hs-apotell opened #3007 "Trailing spaces in multline macros fail to parse"
Test:
[code]

Note: There are spaces at end of each of the line 1, 2, and 3 i.e. spaces after the '\'.

The parsing fails with the following error -
[code]

[2022-06-04 10:43] hs-apotell opened #3008 "Include macro and macro_instance as part of non-elaborated tree"
Macros get evaluated during preprocessing and are not available in the non-elaborated tree.

[2022-06-04 10:47] Thomasb81 commented on #3007
Hello

Page 676 Ieee1800-2017.1
![image](https://user-images.githubusercontent.com/1123617/171995748-c040d87d-89ba-47f7-ad9f-5ebf38948c3d.png)

I don't think trailer space after  backslash are legal. The standard specify : "If more than one line is necessary to specify the text, the nexline character shall be preceded by a blackslash ( \ )."

[2022-06-04 11:02] hs-apotell commented on #3007
Appreciate the info.

[2022-06-04 11:02] #3007 closed

[2022-06-04 11:35] hs-apotell commented on #2962
@alaindargelas Looks like this is still happening and doesn't seem like large diffs are the problem since it is happening for successful builds as well. From whatever logs I could gather from past few builds, I have narrowed down the issue to two tests - Rsd & Google. Either of these two tests always show up as still running in the logs. I would like to temporarily disable these test to see if tha

[2022-06-04 17:06] alaindargelas commented on #2962
@hs-apotell, can you disable those tests in the CI only, but when I run the regression locally they still run?
I don't want to fly "blind", since those tests are important.

No idea what triggers the large allocation. @hzeller?

[2022-06-04 17:13] alaindargelas commented on #3008
You need a completely new tree for that which is not a parsed tree. Do not modify the non-elaborated tree which is a parsed tree necessary as an intermediate step for elaboration.
What you need is a preprocessor AST. Surelog has that tree internally, you need to create a completely new schema in UHDM for preprocessor blobs (that reflects the preprocessor tree of Surelog). The starting point for st

[2022-06-04 17:39] hs-apotell commented on #2962
Yes, I can do that with the help of available environment variables in CI. I will post a PR with the change.

[2022-06-06 04:20] alaindargelas opened #3012 "New vpiParent visitor makes debugging impossible"
With the new explicit visit of vpiParent, it becomes impossible to dump objects while debugging, the traces are showing large amount of object parent data which is typically useless to debug real problems.
Please provide a way to disable visiting the parent by default when using UHDM::decompile and only dump the parent info with an explicit option.

Example of such a trace thet goes on and on abou

[2022-06-06 06:30] hs-apotell commented on #3012
`vpiParent` visit is a shallow visit. I can add configuration options to the `visit_object` call but I am not sure what else I can do to improve debugging. This data in the logs has been very helpful in identifying problems.

Would configuration options to enable/disable the `vpiParent` visit help?

[2022-06-06 06:37] hs-apotell commented on #2962
@alaindargelas @hzeller Found this in Rsd.log from a failed build. I am not familiar with kj libraries implementation. May be it means something to either of you.

[code]

[2022-06-06 21:47] alaindargelas commented on #3012
I use heavily UHDM::decompile(any* object) during gdb sessions.
If you can make that function only print the name and location of the parent and not go as far as it does, that will be perfect.

As you can see above, the traversal is not shallow.:

[code]

[2022-06-07 01:26] alaindargelas commented on #3012
Fixed by #3015

[2022-06-07 01:26] #3012 closed

[2022-06-07 08:40] rkapuscik opened #3018 "Segmentation fault when using Surelog as a library"
When using Surelog as a library, there is a segmentation fault with following backtrace:
[code]
(this was not caught earlier as the tests used `read_uhdm` command, which uses only UHDM and calls Surelog binary separately. I'll be extending the CI both for the plugin and Surelog to amend this).

You can see how it is called [here](https://github.com/chipsalliance/yosys-f4pga-plugins/blob/main/syste

[2022-06-07 14:11] kbieganski opened #3019 "Insufficient support for foreach"
Not a high priority, but there are some cases of this in `sv-tests`.

Example:

[code]

The generated UHDM for the loop has unsupported typespecs for the array and the
index var. Also, there are only references to the index var, but it's not
actually defined anywhere.

[code]

Another issue is that I think this should be valid SystemVerilog:

[code]

But Surelog rejects it:

[code]

[2022-06-07 14:51] rkapuscik commented on #3018
I've created a CI to test the difference between calling the two commands: https://github.com/antmicro/yosys-uhdm-plugin-integration/pull/816
Both runs passed:
https://github.com/antmicro/yosys-uhdm-plugin-integration/runs/6772653369?check_suite_focus=true
https://github.com/antmicro/yosys-uhdm-plugin-integration/runs/6772653425?check_suite_focus=true
so I'm willing to write this off as some issue

[2022-06-07 14:51] #3018 closed

[2022-06-07 16:54] QuantamHD opened #3021 "Add a way to specify blackbox modules on the surelog command line"
For hierarchical synthesis it would be useful to specify certain modules as black boxes.

Something like `surelog -blackbox a b c d ...`

[2022-06-08 07:05] hs-apotell commented on #2962
Notes (attempt to narrow down root cause) -
* Turning off Rsd test fixed the posix+gcc but not posix+clang
* Tried running all tests sequentially - 3 consecutive builds succeeded
* Tried cherry-picking large tests and running only those sequentially - 3 consecutive failure, all posix+clang

Things to try -
* Check if disk is full in case of posix+clang
* Try shuffling the order in which tests are

[2022-06-08 18:00] hs-apotell commented on #2962
This was the last thing in the log and the test itself failed with segmentation fault. So, I would say this was more than a warning.

Also, on a machine with 7GB of RAM a 2GB allocation can be huge especially when running things in parallel.

This is what I have found so far -
* This is not a disk space problem.
* Builds succeeds if I run all tests in parallel. Incidentally, the builds are no slow

[2022-06-08 18:03] hs-apotell commented on #2962
Forgot to mention, the issue doesn't happen in all builds. I going it in only 2 builds and both reported large allocations. Both builds were with Clang on Linux.

[2022-06-08 18:21] hzeller commented on #2962
ok, so figuring out the source of the large allocation is a good next step. I'll see if I can set up something locally today.

[2022-06-08 19:52] hzeller commented on #2962
Looking at the lifetime of the Rsd process, `capnp::MallocMessageBuilder::allocateSegment()` is the originator of a peak allocation of 2.8GiB (followed by `UHDM::FactoryT::Make()` with 1.38GiB).

Maybe UHDM could be written in chunks without it keeping the full serialized format in memory ?

[2022-06-08 20:22] hs-apotell commented on #2962
Since you already have it setup, could you do a quick check to see what happens if either of these large allocations fail.

[2022-06-08 20:24] hs-apotell commented on #2962
Are these single allocations? FacoryT allocations should be smaller chunks since it is responsible for creating different UHDM models.

[2022-06-08 20:33] hs-apotell commented on #2962
The bigger question is whether a machine with 7GB of RAM even a realistic environment for Surelog, especially if one is working with large designs like Rsd or Google. Memory-mapping is a good option but chunks seems overkill and unnecessary complication in my opinion.

[2022-06-08 20:37] hzeller commented on #2962
Fair enough. Optimizations for unrealistically small machines should not be high on priority lists.

[2022-06-08 22:58] hs-apotell commented on #2962
Take that back. 2 of 5 builds failed even when running all tests sequentially. Unfortunately, with failed builds there is nothing to dig into because none of the logs are available from CI.

[2022-06-09 00:17] alaindargelas commented on #3021
@QuantamHD, please try #3022.
My suspicion is that it is not the whole solution. We probably have to have the interface to the blackbox (ports, parameters) dump in the UHDM db to be able to do the stitching. But let me know.

[2022-06-13 05:31] alaindargelas commented on #3019
Fixed by #3041

[2022-06-13 05:31] #3019 closed

[2022-06-13 13:20] rkapuscik opened #3043 "Error in bit select name"
When running [this test](https://github.com/chipsalliance/UHDM-integration-tests/blob/master/tests/SelectOnMemberSelectedFrom2DArray/top.sv) in newest Surelog, some of the bit select nodes have incorrect `vpiFullName` field content:
[code]

Until now, only the first bit select had a name (of the variable). Note also the `vpiParent` of that node:
[code]
`top.[0]` won't be resolved.
This occurs also

[2022-06-14 05:00] alaindargelas commented on #3043
Fixed by #3044

[2022-06-14 05:00] #3043 closed

[2022-06-15 19:16] hzeller opened #3049 "Surelog relies on a leak in the FactoryT<T>::Erase() method"
Here is a memory leak: the Erase() function does not delete the object in question so it never gets deleted:

https://github.com/chipsalliance/UHDM/blob/23ac2740b6ed317797085a91219e8d11aa7348dc/templates/BaseClass.h#L168-L171

... so ideally, this should just have a `delete tps` added.

However, Surelog actually relies that this object is still life, where it accesses object `ts` and calls the mem

[2022-06-16 09:06] hs-apotell opened #3054 "Food for thought: SymbolId can carry a pointer to the owning SymbolTable"
SymbolId in itself is just a number and to resolve it _correctly_ it has to know which instance of SymbolTable it needs to use. This is very error prone and mistakes aren't very obvious. (I actually ended up introducing a bug and running the processes ended up creating files and directories in folders that were hard to get rid of because of special characters in them).

If SymbolId were to carry a

[2022-06-16 18:18] alaindargelas commented on #3054
Sounds like a waste of memory (2x for the AST) and potentially on disk too if you persist that field along the IDs.

[2022-06-17 05:14] hs-apotell commented on #3054
Is memory increase really a concern here? Even for a reasonable sized design, this wouldn't be any substantial increase.

Currently, VObject is 48 bytes of which 16 bytes is two SymbolIds. It adds another 16 bytes to each instance, rounding it to 64 bytes each instance. Runtime memory lost here is easily gained by not having to clone SymbolIds from one SymbolTable to other.

[2022-06-17 05:24] hs-apotell opened #3057 "Why is SymbolId 64 bit?"
Why is SymbolId 64 bit long while cache only supports 24 bits? Shouldn't it be 32 bit long??

UHDM::SymbolFactory::ID is 32 bits but SURELOG::RawSymbolId is 64 bit.

[2022-06-18 02:59] alaindargelas commented on #3054
"I can't envision a scenario where something like this would interfere with multithreading and/or multiprocessing since these are read operations and SymbolTable is guaranteeing location persistence."

When parsing in multithreading, all symbol tables (one per file) are populated in parallel with no synchronization.
How do you propose doing that safely with a single table?

Moreover a symbol table

[2022-06-18 03:04] alaindargelas commented on #3057
That might be an oversight.
To test with 32 bit, you need to run the largest design that are blacklisted (BlackParrot...)
We should also print the highest SymbolId created to measure what is the range.

[2022-06-20 17:49] alaindargelas opened #3064 "rountrip executable infinite loop"
With the latest changes in elab #3063, that executable goes into infinite loop

[2022-06-20 18:54] hs-apotell commented on #3064
Any more information? Any specific test in focus or is that across the board for all tests??

[2022-06-20 21:00] hs-apotell commented on #3064
The infinite loop is during elaboration process. ModPort -> Interface -> ModPort. Tnoc is one such test.

[2022-06-20 21:59] hs-apotell commented on #3064
PR #3065 should stop the infinite loop (RoundTrip doesn't do an explicit elaboration anymore) but the issue with elaboration still persists.

[2022-06-21 03:33] alaindargelas commented on #3064
See comment in PR if you need to re-enable elaboration in that executable.

[2022-06-21 03:33] #3064 closed

[2022-06-21 03:53] alaindargelas opened #3066 "Compilation warnings"
/home/alain/Surelog/src/SourceCompile/Compiler.cpp: In member function ‘bool SURELOG::Compiler::createMultiProcessParser_()’:
/home/alain/Surelog/src/SourceCompile/Compiler.cpp:413:13: warning: unused variable ‘p’ [-Wunused-variable]
  413 |       char* p = getcwd(path, sizeof(path) - 1);
      |             ^
/home/alain/Surelog/src/SourceCompile/Compiler.cpp: In member function ‘bool SURELOG::Co

[2022-06-21 03:56] alaindargelas opened #3067 "Broken test CoresSweRVMP"
cat build/regression/CoresSweRVMP/CoresSweRVMP.log
[INF:CM0023] Creating log file ../../../build/regression/CoresSweRVMP/slpp_unit/surelog.log.

[WRN:CM0010] Command line argument "-Wno-UNOPTFLAT" ignored.

[INF:CM0024] Executing with 16 processes and 0 threads.

[INF:CM0020] Separate compilation-unit mode is on.   << Should not happen -fileunit used by mistake by regression script

[INF:PP0122] P

[2022-06-21 07:12] hs-apotell commented on #3067
I just ran both the tests locally and I am not seeing that 'Separate compilation-unit mode' statement in my logs. Both logs attached.

[CoresSweRVMP.log](https://github.com/chipsalliance/Surelog/files/8946593/CoresSweRVMP.log)
[CoresSweRV.log](https://github.com/chipsalliance/Surelog/files/8946595/CoresSweRV.log)

And both the tests are giving the same results. In fact, the log for CoresSweRVMP te

[2022-06-21 07:22] hs-apotell commented on #3067
Regression script doesn't do anything whatsoever with -fileunit flag explicitly.

[2022-06-21 16:18] #3066 closed

[2022-06-22 03:16] #3067 closed

[2022-06-26 18:12] hs-apotell commented on #2954
@alaindargelas Any pointers on what needs to happen here. I can work on this if you can provide some pointers.

[2022-06-27 03:19] alaindargelas commented on #2954
@hs-apotell, this is not a duplication. They are all attached to different part of the tree, they are not in the same tree branch (That would be a duplication).

1) While create all variables in a given context (ie: a function), there should be a local symbol table that merge to a singleton all the variables that are the same.

2) This is also a byproduct of the cloning and it is why we discussed

[2022-06-27 03:21] alaindargelas commented on #2954
BTW, this is not an issue for either Yosys or Verilator UHDM plugins. Both tools / their UHDM-readers have a symbol table that reconcile these.

[2022-06-27 05:30] hs-apotell commented on #2954
Is this something that needs to be happen in Surelog or are you proposing we do this on our end?

Shouldn't this reconciliation happen as part of Surelog? If this is already implemented in other Surelog clients, we would just be reinventing the wheel again. Making it part of Surelog has other advantages like less memory usage which can be significant for large designs.

[2022-06-29 05:17] hs-apotell commented on #2684
This would be more work (having to roll back what has been unrolled during elaboration process) than just adding the necessary information to the non-elaborated tree.

We will do the engineering work to get the necessary information in the non-elaborated tree.

Specific question - In the non-elaborated tree would the specific instance in this test `ArrayInst` be a `module_array`? There are no othe

[2022-06-29 17:10] hzeller commented on #3054
What would be the motiviation to do so ?

  * If motivation is error-avoidance: maybe make it an option that can be enabled in debug mode and can discover wrong uses, but otherwise is 'lean'.
  * for compactness: Can a symbolID just be the pointer to the unified string_view ? That way, if we have a symbolID, getting the symbol is just essentially dereferencing it. Disadvantage of course is, that t

[2022-06-29 20:22] hs-apotell commented on #3054
That's one reason.

I have considered having the index plus the string_view. @alaindargelas seems to be concerned about adding 8 bytes to the implementation and this would double that to additional 16 bytes. I don't have a good justification to defend such a change.

The other reason (apart from the error-avoidance) why I think a index + SymbolTable pointer works better is it avoids having to dupl

[2022-06-29 20:29] hs-apotell commented on #3054
How do you propose doing that safely with a single table?

I am not proposing single table. The number of SymbolTable remains the same as it is today. Except that if I have a SymbolId instance, I don't have to know which SymbolTable it belong to also - the SymbolId instance holds that information. In a collection of SymbolId' each instance can be pinned in a different SymbolTable and that would ju

[2022-07-01 04:11] alaindargelas opened #3081 "Latest Antlr broken on Clang"
https://github.com/chipsalliance/Surelog/runs/7143585776?check_suite_focus=true

@hzeller, @mithro, you might want to direct to the proper channels.

[2022-07-01 04:19] #3057 closed

[2022-07-01 04:47] QuantamHD commented on #3081
@alaindargelas what commit was antlr at?

[2022-07-01 08:52] hzeller commented on #3081
Looks like the third_party/antlr4 submodule currently points to https://github.com/antlr/antlr4/tree/ff2acb19f399c882ab038bd944af1a3797b5c636

[2022-07-01 08:55] hzeller commented on #3081
Is there a reason we're not following master in Antlr ( https://github.com/antlr/antlr4/tree/master ) ?
Looks like the sub-module follows the `dev` repo.

[2022-07-01 17:35] QuantamHD commented on #3081
dev is the nightly equivalent for ANTLR. The stable releases of ANTLR go to master, and are pretty rare. It's up to @alaindargelas if you'd like to onboard new changes sooner. Catching issues like this early on in the process will make upgrading easier.

[2022-07-01 19:34] hs-apotell commented on #3081
There was a reason. At the time Surelog transitioned to using the pristine antlr, the required changes had not been merged to master yet - they were available only in dev branch. That has changed since then. There is still this PR https://github.com/antlr/antlr4/pull/3678 that is pending which would make clang possible for Windows as well. But for the current supported platforms and compilers for

[2022-07-02 03:39] alaindargelas commented on #3081
@QuantamHD, we can keep it to dev and bug them to fix as we catch these. I'm ok.

[2022-07-02 11:39] KvanTTT commented on #3081
Hi. It looks like the failures related to this commit: https://github.com/antlr/antlr4/commit/67baf7b9487a18a8b25daaf16d44e545ee24cf1d#diff-eb4b31b28c26cdd50a34423808134155bb8e8836b348e4a85698c2ff330412fa But our tests are fine. Could anybody suggest a fix?

[2022-07-02 16:36] QuantamHD commented on #3081
@KvanTTT

[code]

It looks like this is related to the empty abstract class being marked final. I'm not sure if that's intentional. My C++ isn't strong enough to say

[2022-07-02 18:36] KvanTTT commented on #3081
Yes, it looks like that. But neither Visual Studio nor clang don't report such errors.

[2022-07-02 19:52] QuantamHD commented on #3081
Could be down to the clang version?

[2022-07-02 20:25] KvanTTT commented on #3081
I have clang 13, but not sure it depends on a clang version, maybe it depends on some compiler flags.

[2022-07-04 04:50] alaindargelas commented on #2962
This is fixed

[2022-07-04 04:50] #2962 closed

[2022-07-06 03:16] alaindargelas commented on #3081
@QuantamHD shall we point to main since it looks like dev is going to stay broken for a while?

[2022-07-06 10:18] hs-apotell opened #3087 "Differences in platform output"
Test case - DiffSimpleIncludeAndMacros

Problem - On Posix, `slpp_unit\work\top_1.v` and `slpp_all\work\top_1.v` are identical but the same are not identical on Windows.

Tracing the code, everything tells me that Windows is right and that the files shouldn't be identical. But that raises the question as to why the files are identical on Posix.

Attached are the outputs from both Windows & Linux.

[2022-07-06 10:24] hs-apotell commented on #3087
Never mind. Figured it out.

[2022-07-06 13:59] hzeller commented on #3081
if this hasn't resolved yet, I'll have a look today.

[2022-07-06 15:55] hzeller commented on #3081
It looks like only clang10 and clang 11 complain about this situation.
Created PR https://github.com/antlr/antlr4/pull/3776

[2022-07-06 16:41] parrt commented on #3081
Just merged @hzeller fix.

[2022-07-06 21:43] hzeller opened #3089 "Noisy: [INF:CM0024] Executing with X processes and Y threads."
the `CMD_NUMBER_THREADS` is noisy and makes it hard to compare between machines as it depends on the number of cores.

Is this a message that should be as prominent ? Maybe it should only be there if `-profile` is on ?

[2022-07-06 22:24] hzeller commented on #3054
What I mean is to compare the address of the string, as it is uniqified in the symbol table. So integer or pointer comparison has the same cost.

[2022-07-06 23:22] hs-apotell commented on #3054
That might work. With any of these solutions, we could also potentially save on memory in `SymbolTable` since there is no need for the index based lookup table anymore i.e. `SymbolTable::m_id2Symbol`.

Two questions arise for any of these solutions to work -
* Is there ever a need to know which `SymbolTable` does a symbol belong to?
* Is the lifetime of a `SymbolTable` guaranteed to be longer than

[2022-07-07 03:07] #3081 closed

[2022-07-07 03:08] #3089 closed

[2022-07-07 03:33] alaindargelas commented on #3054
I'm not following all the details, but here is a hard constraint:
Symbols have to be small numbers (Not pointers) starting at 0, I can read and remember number IDs when debugging AST dumps, I can't read pointers and remember them, it would render debugging horrendous.

Some answers:
In the current implementation we always know which symbol table holds a symbol because we are getting it from the ta

[2022-07-07 07:08] hs-apotell commented on #3087
There is something not right here with this test. I thought I figured it out yesterday night but I was wrong. I still can't seem to reproduce the results locally for this test to match what CI is producing. And, for what is being produced locally, it seems correct and CI wrong but I can't find a reason as to why the CI build is doing what it is doing. Attached are the logs for this test from both

[2022-07-07 18:24] hs-apotell commented on #3054
One side affect or unintended behavior change. Consider two symbol ids that both say resolve to bad symbols. In the current implementation their native ids would be different and so they would be considered _not_ equal. But if the SymbolId was a wrapper on the string (or some representation of it) both would be pointing to the same bad raw symbol making them equal.

I don't know if this difference

[2022-07-08 03:50] alaindargelas commented on #3087
As you can see your starting statement is incorrect:
```Problem - On Posix, slpp_unit\work\top_1.v and slpp_all\work\top_1.v are identical but the same are not identical on Windows.```

./slpp_unit/work/_6142509188972423790/top_1.v and ./slpp_all/work/_6142509188972423790/top_1.v  are different on Posix (See below).

Did you mingle with the -nohash by any chance? Your paths do not contain hash.

[

[2022-07-08 05:41] hs-apotell commented on #3087
Good to know I haven't lost my sanity, at least not yet. :)

The log you just posted from your local run is exactly what I am seeing as well on my local run. But the log in the repository is different. It shows differences only in two files top_3.v and top_4.v. In fact, I just checked the logs from the latest CI build as well and it's the same - only two files are different. There's a difference i

[2022-07-09 01:23] alaindargelas commented on #3087
All good here:
[code]

[2022-07-09 02:53] hs-apotell commented on #3087
The output you showed in your previous message does not match the golden log though and yet the regression succeeded? And what about the files being identical in the output from CI build?

[2022-07-09 03:07] hs-apotell commented on #3087
Here's the output from the CI run. This is not the same as the one you have above -
Compare the number of note entries in unit compilation and the number of files that are different.

[code]

But it is the same when ran thru' regression.

[2022-07-10 18:09] alaindargelas commented on #3087
I have no time to investigate. Ignore this test on Windows. Leave it in the regression. It passes on Linux.

[2022-07-10 18:21] hs-apotell commented on #3087
Yes, it passes on both Linux & Windows in the CI but the results are wrong for both platforms, in fact wrong on every platform because regression is passing across all platforms. I can spend more time investigating the issue. Can you spend a few minutes to confirm this is in fact a real problem and I am not on a wild goose chase.

[2022-07-10 18:36] alaindargelas commented on #3087
Put the test in blacklist on all platforms and ignore it.

Sent from Yahoo Mail on Android

  On Sun, Jul 10, 2022 at 11:21, ***@***.***> wrote:

Yes, it passes on both Linux & Windows in the CI but the results are wrong for both platforms, in fact wrong on every platform because regression is passing across all platforms. I can spend more time investigating the issue. Can you spend a few minutes

[2022-07-11 20:33] hs-apotell commented on #2684
Could you please provide some clarification/guidance on way forward for design. I am working on adding the missing pieces in non-elaborated model #2684 (instantiation of modules, gates, arrays, etc). Want to make sure I follow the committed path and not the abandoned one.

UHDM models have specialization for `variables` based on type (`bit_var`, `byte_var`,`int_typespec`, etc) and each of those sp

[2022-07-12 04:04] alaindargelas commented on #2684
I'm about to check in an interface_array example with interfaces being sub elements of the array.

[2022-07-14 23:11] hzeller opened #3108 "Selectively disable printing chosen warnings"
There might be warnings that the user might not be intersted in. So it would be nice to reduce the noise by being able to selectively disable them.

This could probably be done by using the `-nowarning` flag and have an optional parameter. Something like

[code]

Possibly also with shortened name

[code]

Multiple warnings disabled just as a comma separated list:

[code]

[2022-07-16 17:57] alaindargelas commented on #2880
#3110 puts the final nail on this long project. Surelog now errors out on hierarchical references that cannot be bound to objects.
We checked 1000s of designs with this feature. If you see a bogus error it means we don't model a construct correctly in UHDM, file an issue.

[2022-07-16 17:57] #2880 closed

[2022-07-19 17:37] hzeller opened #3112 "CI "pages build and deployment" keeps failing"
Example:
https://github.com/chipsalliance/Surelog/runs/7373265893?check_suite_focus=true

Where is this even configured ? It sounds like something @mithro or @umarcor would know.

[2022-07-22 16:55] yurivict opened #3115 "C++ errors"
Clang-13 finds these errors:

[code]

FreeBSD 13.1

[2022-07-23 03:54] alaindargelas commented on #3115
Ooops, is "import" a new C++ keyword?

[2022-07-23 03:57] yurivict commented on #3115
I think compiler is trying to suggest some variable name.

[2022-07-30 05:38] alaindargelas opened #3127 "msys2 compile error in flatbuffer"
Tracked here: https://github.com/google/flatbuffers/issues/7399

[2022-07-31 16:30] alaindargelas commented on #3021
Open another issue if need be. But this looks like this is fixed in the current use case.

[2022-07-31 16:30] #3021 closed

[2022-07-31 16:36] alaindargelas commented on #2953
Sure. But does it do any harm?

[2022-07-31 16:38] alaindargelas commented on #2669
@hs-apotell you made several fixes regarding location. This should be closed.

[2022-07-31 16:38] #2669 closed

[2022-08-02 19:46] aolofsson opened #3132 "Evaluating function in module"
This code simulats ok in icarus, but I get the following message in Surelog. This is nastier than my usual code, so I may be missing something in the standard here.

The snippet is inside a module...

[code]

**Surelog Error:**

ERR:CP0337] <REDACTED> Undefined user task/function "offset".

[2022-08-02 22:52] aolofsson opened #3133 "Parameter partial vector select"
The following code has been verified to work in icarus. Is it possible that there is some issue with extracting
vector fields from a packed parameter? Should be legal right?

[code]

**SURELOG ERROR:**

NTE:EL0531] ../rtl/la_iosection.v:45:13: Negative value in instance "work@la_ioside.ila_iosection[0].i0"
             text:     output [N-1:0]     z, // output to core
             value: INT:-1.

[2022-08-03 01:50] mithro commented on #3133
FYI - @kgugala / @hzeller

[2022-08-03 01:51] mithro commented on #3133
@alaindargelas - We should make this a priority to fix given that @aolofsson and @siliconcompiler are a pretty big / important user of Surelog.

[2022-08-03 01:52] mithro commented on #3133
@aolofsson - We should land an example of this into sv-tests.

[2022-08-03 19:00] alaindargelas commented on #3133
@aolofsson, is it possible to get a complete snipet that compiles. For instance the value of SECTION plays a big role in the answer and it's not in the testcase.
Ideally, can you provide a module .... endmodule self contained testcase that replicate the error?

[2022-08-03 19:06] alaindargelas commented on #3132
@aolofsson, same comment, I'm trying to reverse engineer a workable testcase from the snippet, can you provide a complete snippet that compiles with all variables/params declared, that is encompassed with module/endmodule?

[2022-08-03 19:36] aolofsson commented on #3133
How about this? The concern is the negative index below.

[code]

[code]

[code]

[INF:CM0023] Creating log file ./slpp_all/surelog.log.

[WRN:PA0205] param_testcase.v:1: No timescale set for "param_testcase".

[WRN:PA0205] la_iosection.v:1: No timescale set for "la_iosection".

[INF:CP0300] Compilation...

[INF:CP0303] la_iosection.v:1: Compile module "work@la_iosection".

[INF:CP0303] param_test

[2022-08-03 19:53] alaindargelas commented on #3133
Perfect! Thanks.

[2022-08-03 20:10] alaindargelas commented on #3133
@aolofsson,
I created the same setup with 2 files. I can't see the error.
It looks like you are using a Surelog version that is several months old. Can you update to the latest?

[code]

[2022-08-04 00:27] aolofsson commented on #3133
Great news, updating to version 1.35 solved the problem! Bad news, I don't get to feel good about finding an issue that helps the surelog project.:smile:

[2022-08-04 01:18] hzeller opened #3134 "Running PreProcMacro with valgrind reveals a read from non-allocated memory"
To reproduce
[code]

It looks like that in [SV3_1aPpTreeShapeListener.cpp:1163](https://github.com/chipsalliance/Surelog/blob/932777626024448702ddaa422ffef24758f3cc15/src/SourceCompile/SV3_1aPpTreeShapeListener.cpp#L1163) maybe an element is accessed in the stack that does not exist ?

Should stack-emptiness be checked ?

[code]

[2022-08-04 05:19] #3133 closed

[2022-08-04 05:19] alaindargelas commented on #3133
You'll get your chance :-)

[2022-08-04 05:20] alaindargelas commented on #3132
@aolofsson how about this one? Is is fixed too?

[2022-08-04 05:23] alaindargelas commented on #3134
Right! I fixed in the wrong place. There is no core dump anymore, but there is still a UMR.
I'll fix this.

[2022-08-04 14:11] aolofsson commented on #3132
I found a way around that construct so the code is "gone". I recommend closing it.

[2022-08-04 19:19] alaindargelas commented on #3132
OK, thanks

[2022-08-04 19:19] #3132 closed

[2022-08-04 19:56] alaindargelas commented on #3134
Fixed by #3136

[2022-08-04 19:56] #3134 closed

[2022-08-05 20:44] #3127 closed

[2022-08-08 18:19] hzeller opened #3139 "pkg-config meta-files on install (*.pc) would simplify linking Surelog/UHDM in other projects"
For easier reference in other build systems (that are not cmake), it would be good to have `pkg-config` compatible files. Currently only *.cmake files are generated that only work with that specific build system, while `pkg-config` is the universal tool usually used in other contexts.

That way e.g.  the Yosys plug-in wouldn't need the cumbersome setting of the `UHDM_INSTALL_DIR` but could figure

[2022-08-09 19:32] udif opened #3141 "Surelog crashes when 3 or more slashes (///) appear in a command line argument file"
Please see #3140

[2022-08-09 20:14] udif opened #3142 ""Vendor mode" for command line arguments"
I see that the current command line argument flags are geared towards accepting parameters from a specific large EDA vendor, whose name begins with an "S" 😃
Just to name a few:
[code]
etc.

Given that another EDA vendor (whose name begins with a "C") command line arguments use very similar, but slightly different names:
[code]
Would you be accepting a patch that would allow something like:
`surelo

[2022-08-09 22:16] hzeller opened #3143 "Plugin test fails due to missing Python Module"
It looks like it is failing at some 'skbuild' Python module
https://github.com/chipsalliance/Surelog/runs/7710326771?check_suite_focus=true#step:8:20

[2022-08-09 22:16] hzeller commented on #3143
Assigning to Tom to triage.

[2022-08-10 06:08] tgorochowik commented on #3143
This is an issue with new cmake from pip. I think we should bump the distro version here too, which coincidentally fixes this issue as well. As a quick fix we can pin cmake to an older version

[2022-08-10 08:33] #3143 closed

[2022-08-10 11:17] udif opened #3145 "macros followed by parenthesis are always interpreted as macro parameters"
Consider the following testcase:
[code]
Running `surelog test.v` yields:
[code]

Verilator, Yosys and Xcelium handles this code with no warnings.

[2022-08-10 18:19] hzeller opened #3146 "Deep recursion when running LoopParamOver test ?"
The `LoopParamOver` test crashes when running with address sanitizer due to a very deep stack, which looks like a super-deep recursion (see below). It might only show up with address sanitizer as crash due to more limited resources, but given that the input is

[code]

... it is unclear where the deep recursion is coming from

[code]

[2022-08-10 18:52] hs-apotell commented on #3146
This recursion comes from the evaluation logic. The logic to identify circular dependence is based on it reaching 1000 attempts without success.

[2022-08-10 18:56] hzeller commented on #3146
That sounds dangerous and problematic. Doesn't the usual 'no change in the last iteration' be sufficient ?

[2022-08-10 19:00] hs-apotell commented on #3146
https://github.com/chipsalliance/Surelog/blob/103bf155d8c90c962e9f9695ffe59750d0b2722c/src/DesignCompile/CompileHelper.cpp#L78-L82

I have to reduce the limit down to 100 for Windows since the stack doesn't grow automatically as it does for Linux. The current stack size on Windows is 64 MB and with that limit only 100 iterations were possible. The situation is worse for Clang since the stack requi

[2022-08-10 19:02] hs-apotell commented on #3146
Yes, but I am just stating the facts. The current implementation relies on _number of attempts_ to evaluate. Sure, there is lot of room to improve on this logic.

[2022-08-10 20:28] hzeller commented on #3112
I don't have access to the settings of this project (@alaindargelas  can I has more admin access to Surelog?)

[2022-08-10 22:01] mithro commented on #3112
@hzeller - I believe I have fixed your permissions level to do that.

[2022-08-10 23:47] hzeller commented on #3112
Yes that worked, thanks @mithro

@umarcor indeed, it was configured to serve from the master branch. I set it to 'None', as there is no documentation or no pages branch.

[2022-08-11 10:15] #3141 closed

[2022-08-11 10:21] alaindargelas commented on #3142
We cannot use vendor name.
-y works for all vendors.
I suggest accepting both types, I'll accept the PR. For -I and other conflicting args maybe having a -style M/C/S placed prior the arguments to help disambiguate would be acceptable.

[2022-08-11 10:30] alaindargelas commented on #3146
The correct fix requires way too many changes in all the functions involved in expression evaluation both on the UHDM and Surelog side. Just for the sake of detecting an error condition that is far from the norm. Many limiting to 100 when running valgrind would be enough? We are attempting here to run valgrind on a negative test that is built to create a corner case behavior. Not the typical usage

[2022-08-11 10:59] udif commented on #3142
I can prepare a pull request.

Another option I thought about was to have an option like:
`-remap oldargname newargname`
with minimal templating that is powerful enough to translate (for example) `+define+A=3` into `-define A=3`
By doing this you are distancing yourself from any vendor name or arguments.
It's up to the user to prepare his own translation file that can be called with `-f translate_

[2022-08-11 18:20] hzeller commented on #3142
I like the remap idea.

[2022-08-11 22:14] hzeller commented on #2982
This looks like it is complete ?

[2022-08-11 23:18] hs-apotell commented on #2982
Fixed by #3098 & #3100

[2022-08-11 23:18] #2982 closed

[2022-08-11 23:36] #3112 closed

[2022-08-12 07:28] udif commented on #3142
I created a preliminary pull request for review, #3149 .

I've decided not to implement my 'remap' idea because I realized that the vendor tool in question is not replacing the old flag, but rather adding new synonyms for the existing flags, while still supporting the old ones.
If I would have remapped the existing flag, I would run into problems with legacy build scripts that uses both styles. By

[2022-08-15 01:03] udif commented on #3142
Well, I opened the pull request **for reviews**, and you went ahead and merged it...
In fact, **it had several issues (only if you use the new features - if you ignore the -style option it has no effect)**:
* It forces you to fill the Surelog code with literally hundreds of commands if you really want to be able to 100% parse a vendor's command line.
* You may not want to copy all those commands a

[2022-08-15 07:58] alaindargelas commented on #3142
Please submit a new PR

Sent from Yahoo Mail on Android

  On Mon, Aug 15, 2022 at 3:03, Udi ***@***.***> wrote:

Well, I opened the pull request for reviews, and you went ahead and merged it...
In fact, it had several issues (only if you use the new features - if you ignore the -style option it has no effect):

   - It forces you to fill the Surelog code with literally hundreds of commands if you

[2022-08-15 12:29] udif commented on #3145
I've originally tried to fix this myself, in PreprocessFile.cpp, around lines 800-846, but then I realized that each time a macro invocation is followed by a '(', it is automatically considered as part of the macro parameters, regardless of the actual macro definition, and so it must be fixed in the lexer/parser.

The lexer/parser should not consume the '(' as part of the macro invocation unless t

[2022-08-15 16:37] udif commented on #3145
This what I came up with so far:

[code]

I've added a semantic predicate to the `macro_instance` rule part that parses macros with parameters.
I wrote a skeleton function to detect if a macro has parameters or not.
I can extract the macro name, and in the skeleton example I check if it does not begins with the letter "D".
This works OK (The original `test.v` is now parsed correctly because a macr

[2022-08-15 20:55] alaindargelas commented on #3145
There is no back pointer from PpParser (antlr generated) to the
Preprocessor class. The PpParser class would have to be made a subclass of
some class with such pointer using multiple inheritance as it has its own
antlr parent class.
Grammar predicates are also slow and make the grammar target language
dependant.
The grammar can be executed in Java too today which is convenient for debug
and profil

[2022-08-16 00:50] shash commented on #3145
According to the Verizon-2005 standard this is indeed the correct behaviour: "The left parenthesis shall follow the text macro name immediately, with no space in between." (Page 351, section 19.3.1 `define).

[2022-08-16 04:09] udif commented on #3145
OK, I was making some progress with semantic predicates (code still not working due to getMacro() below returning NULL)

[code]

But given your suggestion I'll drop it and change this according to @shash 's comment above.

Also, as part of debugging the code above, I was surprised to learn that `+define+NAME=val` definitions **override** `` `define`` declarations in the code. I was always under th

[2022-08-16 07:32] udif commented on #3145
Not so fast...

Upon checking the relevant quote (ieee1364-2005), it seems the "no space between macro name and left parenthesis" rule applies to macro **definition**, not to macro usage. In fact, for macro usage, the explicit quote on the same page is:

*To use a macro defined with arguments, the name of the text macro shall be followed by a list of actual
arguments in parentheses, separated by c

[2022-08-18 14:51] rkapuscik opened #3156 "Missing information on port connected to concatenation of nets"
In a test case submitted [here](https://github.com/antmicro/yosys-systemverilog/issues/989) a module uses explicitly named ports connected to concatenation of internal nets:
[code]
but information in UHDM seems to be missing:
[code]
Apparently the name for the port is missing, triggering an assert in later processing, but I'm not sure if this is converted properly and if so, how to access that inf

[2022-08-18 19:26] udif commented on #3145
I've been trying to solve this for a few days, but I'm not making progress, and would appreciate if someone took a look at it.
The PR contains 3 variations I've tried , but none work.
I've put debug prints around `getMacroInfo()` and `registerMacroInfo()`, and I'm getting  two calls to `getMacroInfo()` before the call to `registerMacroInfo()` and I don't know why.

[2022-08-19 04:50] alaindargelas commented on #3156
#3158 is partially addressing this issue.
3 more fixes need to happen to complete this case:
  - Remove the warnings about type and direction of the ports
  - Fix incorrect port declaration (incorrect range, should be bit select)
  - Remove the ports bits from the port list if they are used in the port expression

[2022-08-19 18:09] hzeller opened #3160 "Tag version of surelog in github whenver ` kVersionNumber` changes"
For people packaging surelog it is very helpful (well, sometimes even necessary), to have a clear version number.

Surelog already has a [built-in version number](https://github.com/chipsalliance/Surelog/blob/120a9d89001c8ecc2c63fdabee56538476c6f9f7/src/CommandLine/CommandLineParser.cpp#L66), that is bumped every now and then. Ideally, this version number would also be tagged in git whenever it ch

[2022-08-20 03:30] alaindargelas opened #3162 "Bad error message formatting"
@hs-apotell your latest PR #3159 messed up the formatting of multiple line messages.
Now the carret ^-- does not point to the right place in the text sample.
[code]

[2022-08-20 03:41] alaindargelas commented on #3162
[code]

[2022-08-20 04:01] alaindargelas commented on #3156
This is now fixed.
The port object has a lowConn relation that points to a concat operation with all the reb_obj to individual nets.

[2022-08-20 04:01] #3156 closed

[2022-08-20 04:11] #3142 closed

[2022-08-20 04:36] alaindargelas commented on #3145
This approach cannot work.

The predicate is called during parsing:

![Screenshot from 2022-08-19 21-31-49](https://user-images.githubusercontent.com/63669492/185729033-73a1f59a-acd2-4a07-a235-531ff37fc1d8.png)

The macro is recorded during walking the parse tree (Too late, walking is done AFTER parsing):

![Screenshot from 2022-08-19 21-32-52](https://user-images.githubusercontent.com/63669492/18

[2022-08-20 13:26] Thomasb81 commented on #3145
@udif, @alaindargelas

In https://github.com/Nic30/hdlConvertor we have use antlr mode feature to address this specific issue.
This allow to switch to specific grammar interpretation on specific part of the source code.

With this approach the grammar is no longer language agnostic, because verilog/SystemVerilog is so complex that some FSM is required to control in the lexer which token are emit b

[2022-08-20 17:40] alaindargelas commented on #3145
Thanks @Thomasb81 for the pointer.

In Surelog case, since all the preprocessing magic happens in the walker, this is where I just had to relax a bogus rule.
Fixed with #3167

[2022-08-20 17:40] #3145 closed

[2022-08-20 17:44] #3162 closed

[2022-08-20 21:57] udif commented on #3145
@alaindargelas thanks for solving this, I'm on to the next issues with my codebase (trying to understand why a certain path is not added to the `include file search path).
I always prefer coming up with a solution rather than just an issue. I hope next time I'll have a more useful PR.

[2022-08-21 13:13] udif opened #3169 "-cmd_mrg not working as expected (fixed by PR#3168)"
A minor bug in #3153 caused the `-cmd_mrg` command, intended to convert vendor commands into the `+cmd+arg` form, to work not work as expected.
The `-cmd_mrg <oldcmd> <newcmd>` command with its 2 arguments are correctly parsed, but when encountering `<oldcmd> <arg>` , it is converted internally to `<newcmd>+arg` as expected, but not pushed back to the command line.

It is fixed in #3168 .

_Exampl

[2022-08-21 13:17] udif commented on #3169
After this minor bug fix, I'm happy to report that I was able to run our entire top level design+dv hierarchy (3000+ files, including lots of 3rd party commercial IP),  with zero errors!

I haven't changed a single line in the top level compile script (other than calling a 20 line conversion script in the surelog command line, a script that maps or drops vendor commands to surelog syntax).

The on

[2022-08-21 16:36] alaindargelas commented on #3169
Awesome!

Regarding "The only warnings encountered are `define redefinitions and `undef on non existing defines." Is it possible that this entire project should be compiled with the "Compilation Unit" semantic of Verilog? Meaning that all the files are not meant to be compiled in the same macro space?

Surelog by default uses the "Interpreter Semantic" of Verilog, the macro space in the preprocess

[2022-08-21 16:40] alaindargelas commented on #3169
How do you plan to use Surelog/UHDM next (if that can be disclosed)?
- Use the Yosys plugin ?
- Analyse the design using UHDM ?
- ...

[2022-08-21 19:06] udif commented on #3169
No, it is merely because the design is built gradually over 12 years with multiple generations of tape-outs, and multiple designers phasing in and out, and because unfortunately, strict methodology is not enforced. Most of the redefinitions is due to module owners adding their own `` `include`` with common defines at the block level, with these `` `define``s repeated at the top level.

Since both

[2022-08-21 19:39] udif commented on #3169
I'm just beginning to study UHDM and still overwhelmed by the README. About 10 years ago I evaluated a product from a small startup called Invionics that allowed me to parse an entire Verilog design (using a commercial parser, I think it was cheetah, not Verific), and gave me a Python API to traverse the design tree, modules, instances, ports, etc.

Anyway, this is not an official project, I'm jus

[2022-08-22 03:37] alaindargelas commented on #3169
Opened https://github.com/chipsalliance/UHDM/discussions/782

[2022-08-22 03:37] #3169 closed

[2022-08-24 03:26] #2802 closed

[2022-08-24 12:17] pka88 commented on #338
Hi,

I came up with this thread while searching for a way to have an interactive diagram for analyzing the clock tree from RTL.
In general, the requirement is, the user could select a particular signal and keep tracing forward or backwards based on the RTL design instead of netlist.
Please suggest if such capability already exists in any of the tools.
Can SV source code -> Verible -> Kythe graph r

[2022-08-24 15:38] alaindargelas commented on #338
@hs-apotell, what is the status of this project?

Also,

@pka88, since my last comment in this thread, the Surelog/UHDM/Yosys integration has made big progresses:
https://github.com/antmicro/yosys-systemverilog

And https://github.com/chipsalliance/Surelog/issues/338#issuecomment-622392258 should give you a schematic of sort.

[2022-08-25 01:05] #2861 closed

[2022-08-25 03:20] pka88 commented on #338
@alaindargelas, @hs-apotell, thanks for the responses.
The suggested tool gives a full block diagram for the given module as I understand.

I was looking for more of a hierarchical schematic tracer which has options like
1. Startpoint signal
2. Hierarchical depth till which the signal needs to be traced down or up
3. This diagram is the base and it would be interactive so the user can further trac

[2022-08-25 04:33] alaindargelas commented on #338
UHDM will contain the elaborated netlist which I think you need for accurate signal tracing, Verible would only have a pre-elaboration view, potential issues: you'll trace more signals than you need, or you'll have the bus sizes wrong.
If you are not interested in drawing FFs, Latches for which you need the Yosys Inference, then you might want to use the UHDM data model and create the path tracer

[2022-08-25 04:36] alaindargelas commented on #338
I'm suggesting UHDM should be a data server that generates incremental Json files on demand based on the user interaction with the GUI (Whatever the GUI might be).

[2022-08-25 17:52] hzeller commented on #3160
Assigning to self. I'll start with tagging the last version bump manually, and then work on a CI workflow to update it whenever the version number changes.

[2022-08-26 15:51] Nic30 commented on #338
@pka88

< 10K binary operator nodes displayed at once is ~15s of loading time, > 75K nodes -> out of default max memory size per tab in firefox/chrome

It depends on what you expect.

From what I see in this conversation I got the impression that you are trying to visualize something which is >100K FPGA LUT/ALM . If this is the case the elaboration can take significant time and it may defeat whole

[2022-08-27 04:12] alaindargelas opened #3183 "Incorrect signed binary modeling"
module loop_var_shadow_top();
    parameter int p =  1'sb1;
endmodule

produces incorrect UHDM

[2022-08-28 17:45] alaindargelas opened #3187 "python3 scripts/regression.py report , extract are broken"
python3 scripts/regression.py report
....
Comparing StringMethod
Comparing StringParameter
Comparing BlackParrotMuteErrors
Comparing ArianeElab2
Comparing BlackParrotParam

Traceback (most recent call last):
  File "/home/alain/Surelog/scripts/regression.py", line 1195, in <module>
    sys.exit(_main())
  File "/home/alain/Surelog/scripts/regression.py", line 1179, in _main
    result = _report(ar

[2022-08-28 18:26] alaindargelas commented on #3183
In the case of parameters, Surelog computes the actual value which depends on the LHS size.

In the case of assign stmt like:

[code]

Since Surelog does not perform constant pushing, it is left to the user (Plugin code) to use:
- the bin value
- the size of the LHS
- the typespec of the value which in this case will be int_typespec with a VpiSigned == 1

And decide what is the value.

If x is an

[2022-08-28 18:28] alaindargelas commented on #3183
Try the following example in edaplayground with different CAD tools to refine the spec (Note, not all tools agree):

[code]

[2022-08-28 20:51] alaindargelas commented on #3187
~/Surelog$ python3 scripts/regression.py  extract
Starting Surelog Regression Tests @ 2022-08-28 13:51:22.572343
Environment:
      command-line: scripts/regression.py extract
   current-dirpath: /home/alain/Surelog
 workspace-dirpath: /home/alain/Surelog
     build-dirpath: /home/alain/Surelog/build
  surelog-filepath: /home/alain/Surelog/build/bin/surelog
uhdm-dump-filepath: /home/alain/Surelog/

[2022-08-28 20:52] alaindargelas commented on #3183
Fixed by
https://github.com/chipsalliance/Surelog/pull/3188

[2022-08-28 20:52] #3183 closed

[2022-08-29 03:40] alaindargelas commented on #3187
Thanks

[2022-08-29 03:40] #3187 closed

[2022-08-29 03:50] alaindargelas opened #3190 "Coverage report is broken"
Last successful report was June 10

[2022-08-30 00:43] alaindargelas commented on #3146
Create 2 log files, that is what is typically done. One per OS when there is OS specific diffs.

[2022-08-31 14:08] rkapuscik opened #3196 "Port type for concatenation is missing"
In a test case simplified from [this issue](https://github.com/antmicro/yosys-systemverilog/issues/989):
[code]
`op` and `ip` are missing typedefs, nets or any other information about size of the port:
[code]
`uhdmallModules` contains even less info, lacking port name:
[code]

[2022-09-01 00:33] alaindargelas commented on #3196
You should only look at uhdmtopModules for information, uhdmallModules does not do binding and these ports with no name are the result of the port being an expression. Those ports get properly processed in uhdmtopModules.

You have the typedefs of all the individual bits in the ports:

[code]

And you have the composed ports:

[code]

You should send to Yosys the composed ports and any port that i

[2022-09-01 23:05] hs-apotell opened #3198 "Missing interface_array (follow up to PR #3101)"
For test InterfArrayBind, the uhdmtopmodules has no interface_array. PR #3101 was meant to resolve this but looks like it might be a regression.

[2022-09-02 02:47] alaindargelas commented on #3198
That is the regression: https://github.com/chipsalliance/Surelog/pull/3193

[2022-09-02 07:47] hs-apotell opened #3201 "Modeling module instantiation in non-elab tree"
Module instantiations are completely missing in non-elab tree. Modeling it as `module` breaks the notion that a non-elaborated tree is flat i.e. no hierarchical modules. How are these supposed to be modeled - `module_var` or something different? Solution needs to account for all the port specific details as well.

P.S. #3200 implements the module_arrays (and interface_arrays) in non-elab but the c

[2022-09-02 08:18] hs-apotell opened #3202 "False UHDM ObjectStat??"
UHDM ObjectStat doesn't represent the number of objects of each type _in the tree_. It rather represents the number of objects of each type that ever got constructed. IMHO, what's needed (and useful) is the number of objects of each type in the tree.

@alaindargelas opinion?

[2022-09-02 15:17] alaindargelas commented on #3202
No opinion, this is not useful to me. I diff the UHDM outputs. Number of objects don't tell me anything.

[2022-09-02 18:01] dpetrisko opened #3203 "Caching issue with macros"
Hi,

Trying to parse https://github.com/black-parrot/black-parrot with Surelog in deferred mode in https://github.com/antmicro/yosys-systemverilog and believe I've found a surelog problem.

To get the code:
[code]

To reproduce,
[code]

Produces this output:
[code]

However, this works:
[code]

This workaround will not work in deferred mode, but hopefully they are the same problem. Thanks!

[2022-09-02 20:59] dpetrisko commented on #3203
Related to https://github.com/chipsalliance/Surelog/issues/3008 perhaps?

[2022-09-02 22:13] dpetrisko commented on #3203
I am using commit:

[code]

Would be happy to try another one

[2022-09-02 22:23] dpetrisko commented on #3203
Gotcha, note that my example here does not use -sepcomp, so I believe it should be two independent compilations

[2022-09-03 03:21] alaindargelas commented on #3202
You must have a unitialized memory read in your code. Need to run valgrind on the test.

[2022-09-03 03:22] alaindargelas commented on #3202
I mean I diff visually the UHDM output, I don't rely on any number at all.

[2022-09-03 04:26] alaindargelas commented on #3203
The problem can be seen with a single file:

surelog black-parrot/bp_be/src/v/bp_be_calculator/bp_be_csr.sv -sverilog -Iblack-parrot/external/basejump_stl/bsg_misc -Iblack-parrot/external/basejump_stl/bsg_noc -Iblack-parrot/external/HardFloat/source -Iblack-parrot/external/HardFloat/source/RISCV -Iblack-parrot/bp_common/src/include -Iblack-parrot/bp_be/src/include

SAVING FILE: "./slpp_all/cache/w

[2022-09-03 04:29] alaindargelas commented on #3203
@dpetrisko,  Can you try Surelog version prior to https://github.com/chipsalliance/Surelog/pull/3159

[2022-09-03 04:35] alaindargelas commented on #3198
The interface array is bit blasted on purpose in the elaborated tree, so other objects like assign stmts can bind to the related object:

[code]

I didn't realize the purpose of #3101, it might create redundant information now, the bit blasted version and the array....

[2022-09-04 06:26] hs-apotell opened #3205 "Enable "discussion" on Surelog"
Like UHDM enable discussions for this repo as well.

[2022-09-04 08:33] dpetrisko commented on #3203
In our BP+Surelog CI we use -fileunit, which may be masking this issue. I can try without this flag on our current working version and see if that breaks

[2022-09-04 16:38] alaindargelas commented on #3203
Is the intend of BP source code to be in interpreted semantic (all files in the same macro space) or compilation unit per file? It looks like it was the latter since you used the -fileunit option. Please try the -sepcomp -fileunit combination
As pointed above there is a multiple inclusion that does not work as expected

[2022-09-04 22:19] yurivict opened #3206 "Build fails on i386: error: conversion function cannot be redeclared"
[code]

Version: 1.36
clang-14
FreeBSD 13.1

[2022-09-05 03:26] dpetrisko commented on #3203
As pointed above there is a multiple inclusion that does not work as expected

Thanks, I'll give that a shot when I get a chance. We intend to support compilation unit per file since that seems to work across all tools, whereas global compilation unit has complicated ordering rules depending on tool implementation.

That said, we expect that if unit per file works, then global compilation should a

[2022-09-05 04:06] alaindargelas commented on #3205
Done

[2022-09-05 04:06] #3205 closed

[2022-09-05 05:00] alaindargelas commented on #3203
@alaindargelas Question for you. What's the expected behavior for this scenario?

Consider three files a.sv, b.vh, c.vh

// a.sv:
`include "c.vh"
`include "b.vh"

// b.vh:
`include "c.vh"
`undef ADD

// c.vh:
`define ADD +
Note that c.vh is included by both a and b.

Surelog run -

surelog a.sv -nobuiltin
The output -

[INF:CM0023] Creating log file slpp_all\surelog.log.

Saving File: "slpp_all\\c

[2022-09-05 05:34] yurivict commented on #3206
Compiler is clang-14. i386 *is* a 32-bit platform.

FreeBSD ports are built on a variety of platforms, i386 is one of them.

[2022-09-05 05:39] alaindargelas commented on #3203
@dpetrisko  #3208 fixes this

[2022-09-05 05:39] #3203 closed

[2022-09-05 06:00] yurivict commented on #3206
That's fine, I'll report further issues then. This is the way with most other ports that don't even have any CI.

[2022-09-05 08:06] Thomasb81 commented on #3206
- Surelog is not end-user application.
- 32 bit platform are limited to 4Go of memory. (How many test in the current regression  testsuite exceed the 4096Mo of memory used ?)

From my point of view nobody is using anymore i386 platform for hardware development.

What could be the effort interest other than being able to brand " This application work on freebsd i386" ?

[2022-09-05 08:36] yurivict commented on #3206
On the other hand this is just a C++ code defect when 2 type conversion operators are defined for 2 very similar types. It doesn't take much to fix this place. If something is convertible to NodeId it probably can't also have the "size" meaning.

[2022-09-06 15:02] alaindargelas commented on #3201
Using the vpiModules iterator

[2022-09-06 15:04] alaindargelas commented on #3198
Not unless it comes in the way of my work on synthesis with Surelog/Yosys, might take a while

[2022-09-06 15:05] alaindargelas commented on #3206
I don't need 32 bit support.

[2022-09-06 16:45] alaindargelas commented on #3206
@hzeller will check this particular error.

[2022-09-06 16:52] hzeller commented on #3206
Ah, I have seen this one before and did a local hack to fix, but it was on an ephemeral machine. Will recreate and send a PR.

[2022-09-06 16:52] alaindargelas commented on #3201
It is the solution in the Standard . Check the object model in the standard for modules. That is also the way it is done in the elab model

[2022-09-06 22:31] #3206 closed

[2022-09-07 05:21] dpetrisko commented on #3203
Thanks @alaindargelas, can confirm this fix works for me in both this test case and my more complicated one

[2022-09-07 19:27] hs-apotell opened #3212 "Food for thought: Replace UHDM::SymbolFactory with Surelog::SymbolTable implementation"
There has been lots of iterations of improvements and optimizations on Surelog::SymbolTable but not much has changed for UHDM::SymbolFactory. Functionally both these classes are meant to be doing the same thing.

Is it worth moving the implementation of SymbolTable from Surelog and into UHDM and deprecating the UHDM::SymbolFactory. To make it less disruptive, UHDM::SymbolFactory itself could be a

[2022-09-08 05:37] alaindargelas commented on #3196
Fixed by #3215

[2022-09-08 05:37] #3196 closed

[2022-09-09 15:55] alaindargelas opened #3221 "Clean all warnings introduced"
[ 79%] Building CXX object CMakeFiles/surelog.dir/src/SourceCompile/AntlrParserErrorListener.cpp.o
/home/alain/Surelog/src/DesignCompile/UhdmWriter.cpp: In member function ‘PLI_UINT32* SURELOG::UhdmWriter::write(SURELOG::PathId)’:
/home/alain/Surelog/src/DesignCompile/UhdmWriter.cpp:3611:36: warning: unused variable ‘fC’ [-Wunused-variable]
 3611 |           const FileContent* const fC = pf->getFi

[2022-09-09 17:50] hs-apotell opened #3222 "Update UHDM models to accept std::string_view instead of std::string"
UHDM model still largely expect std::string (or const std::string&) as function argument and returns const std::string& in most cases. This should be updated to accept and return std::string_view.

[2022-09-09 21:24] yurivict opened #3224 "error: no type named 'path' in namespace 'std::filesystem'"
[code]

```#include <filesystem>``` is missing in ```/include/Surelog/Design/ModuleInstance.h```.

[2022-09-09 21:31] yurivict opened #3225 "CompileDesign.cpp:82:68: error: no member named 'string' in 'std::string'"
[code]

```#include <string>``` is forgotten in ```src/DesignCompile/CompileDesign.cpp```.

[2022-09-09 21:42] yurivict commented on #3225
Same problem in ```src/DesignCompile/CompileExpression.cpp```:
[code]

[2022-09-09 21:47] yurivict commented on #3225
Also same problem in src/DesignCompile/ElaborationStep.cpp:
[code]

[2022-09-09 21:48] yurivict commented on #3224
Same problem in include/Surelog/DesignCompile/CompileHelper.h:
[code]

[2022-09-10 03:20] #3221 closed

[2022-09-10 05:06] alaindargelas opened #3227 "Package build broken"
@hs-apotell After your latest large checkin,
prebuild of Package works once, then any subsequent compilation fails, it is very annoying as in between each compile I need to clean the packages and rebuild them.
[code]

[2022-09-10 05:10] alaindargelas commented on #3227
How to reproduce:

make
touch src/CommandLine/CommandLineParser.cpp
make
<broken build>

If it does not get fixed rapidly, I'm going to roll back all the way till #3219

[2022-09-10 05:13] alaindargelas commented on #3227
@hzeller to check if no other recent changes could have broken this.

[2022-09-10 07:14] alaindargelas commented on #3227
It could be any of the recent changes regarding the cache too

[2022-09-10 15:08] alaindargelas commented on #3227
Correct, make clean fixed it. I was removing the cached files, that was not fixing it, but the make clean did.

[2022-09-10 15:08] #3227 closed

[2022-09-22 09:02] mglb opened #3235 "Foreach with multiple loop variables doesn't emit skipped indexes"
Skipped indexes are missing in VPI AST.
According to [1] skipped index variable should be represented as vpiOperation with vpiOpType = vpiNullOp.
[1]: IEEE Std 1800-2021 "IEEE Standard for SystemVerilog", 37 VPI object model diagrams, 37.73. Do-while, foreach, Detail 2.

Example (https://github.com/zachjs/sv2v/blob/master/test/core/foreach.sv):
[code]

VPI AST fragment for the foreach over `B`:
[c

[2022-09-22 09:19] mglb opened #3236 "Nested foreach loop reports outer loop's index variable as its own in UHDM tree"
It looks like variables from non-last [...] are treated as loop variables.
Reference:
[1]: IEEE Std 1800-2021 "IEEE Standard for SystemVerilog", 12.7. Loop statements

Syntax:
[code]

Example (https://github.com/chipsalliance/Surelog/blob/master/tests/ForeachSquare/dut.sv):
[code]

[code]

[2022-09-23 01:59] alaindargelas commented on #3235
This is non - synthesizable code. Let's focus on synthesizable code for the Yosys plugin.

[2022-09-23 01:59] alaindargelas commented on #3236
This is non - synthesizable code. Let's focus on synthesizable code for the Yosys plugin.

[2022-09-23 16:54] alaindargelas commented on #3235
Please provide a synthesizable example we can formally verify

[2022-09-23 16:55] alaindargelas commented on #3236
Please provide a synthesizable example we can formally verify

[2022-09-24 03:32] mglb commented on #3235
This one should be syntesizable:

[code]

Relevant fragments of UHDM tree (command: `surelog -parse -d uhdm`):
[code]

[2022-09-24 03:32] mglb commented on #3236
This one should be syntesizable:
[code]

Relevant fragments of UHDM tree (command: `surelog -parse -d uhdm`):
[code]

[2022-09-24 20:44] alaindargelas commented on #3235
By synthesizable, I also mean that we can observe in the synthesis output if we are dealing with the design correctly end-to-end.
The example you provided is not Observable, there is no output, the Synthesis optimizes everything out so no matter how badly we model the design the formal verification or simulation will say "Good job". We need to create designs that are synthesizable and observable.

[2022-09-24 21:18] alaindargelas opened #3239 "Bogus error message"
@hs-apotell this new error message is incorrect:
https://github.com/chipsalliance/Surelog/blob/b4ad3fc02ef02ad162f34ac7d18c397e5fd6e9d9/src/Design/FileContent.cpp#L689

The testcase black-parrot has indeed statements that cross files (Due to includes).
Please remove that check. It is not compliant with Verilog proprocessing.
The issue is discussed here, it is a sub-issue of that case:

https://git

[2022-09-24 23:32] alaindargelas commented on #3239
Sorry, try to extract the example from black-parrot. Its your check. But before, try to debug the latest black-parrot from th original GitHub, not the snapshot in Surelog.
This is an important Surelog user complaining, please prioritize accordingly.

[2022-09-25 00:23] alaindargelas commented on #3235
Fixed by #3241.

@mglb, please add this testcase to https://github.com/chipsalliance/UHDM-integration-tests/tree/8dc491bb51384418a41a7d2f9c30ac8e576f4619/tests

and make sure we reach formal equivalence with Yosys parser.

[code]

[2022-09-25 00:23] #3235 closed

[2022-09-25 17:10] alaindargelas commented on #3239
@hs-apotell, thanks.

[2022-09-26 05:26] alaindargelas commented on #3236
I changed the testcase into to make it useful for Synthesis comparison (Observable):

[code]

I made a fix in #3243 to get the right typespec for data when it is a port (Not a variable).

You need to check the elaborated model to get more accurate binding. I think the elaborated model contains the correct bindings for the variable and the loop vars.

To the question: Should refer to  `dut.array[i]

[2022-09-30 20:43] nmoroze opened #3245 "Surelog doesn't properly interpret multibit comparisons in generate statements"
If you parse this snippet with Surelog:

[code]

Surelog does not process the instantiation of `foo` and `bar`:

[code]

Contrast this with the same snippet where the comparisons are broken out into two single-bit comparisons and-ed together:

[code]

This does what I'd expect:
[code]

This problem appears in the latest Surelog, eba65e8656482394c51d3bfea2bc90c100083296.

[2022-09-30 21:03] nmoroze opened #3246 "Bitvector concatenation with different radixes"
I noticed that concatenating bitvectors with different radixes doesn't do what I'd expect.

For example, this test case does not instantiate `bar` (note the decimal constant concated with binary):
[code]

Output:
[code]

However, if I change the radix of both constants to binary, it does:

[code]

Output:
[code]

I noticed in the UHDM output that when the radix is the same the concatentation gets

[2022-10-01 03:59] alaindargelas commented on #3245
Fixed by #3248

[2022-10-01 03:59] #3245 closed

[2022-10-01 04:59] alaindargelas commented on #3246
Fixed by #3249

[2022-10-01 04:59] #3246 closed

[2022-10-06 04:20] alaindargelas opened #3258 "Unwanted message format change"
@hs-apotell  with your PR #3255, Carriage returns are removed from messages:
[code]

[2022-10-06 04:21] alaindargelas commented on #3258
Please fix or I'll revert that PR.

[2022-10-06 15:08] alaindargelas commented on #3258
So it is the previous one you made. Same issue.

[2022-10-07 03:37] #3258 closed

[2022-10-07 03:38] #3236 closed

[2022-10-07 05:21] hs-apotell opened #3261 "Wrong/inconsistent parenting"
Structure declared within a package is being parented to the module when imported.
When import is not used i.e. referenced using scope operator, the parenting is correct.

Test: BitsLogic

UHDM output:
[code]

[2022-10-08 02:38] alaindargelas commented on #3261
It is correct, if you know how to decode it.
When importing any object, the object gets cloned and the parent child relation is set in between the cloned object and the recipient (importer).
There is another relation (vpiInstance) which is used to point to the originating point (The package), see below:

    |vpiParent:
    \_module: work@top (work@top), file:dut.sv, line:12:1, endln:28:10    <==

[2022-10-08 02:38] #3261 closed

[2022-10-11 07:02] alaindargelas commented on #2832
Correct, "ranges" in expressions are modeled as a list of 2 members, left
and right range

On Mon, Apr 11, 2022 at 10:38 PM HS ***@***.***> wrote:

[2022-10-11 10:13] hs-apotell opened #3266 "Multidimensional Parameters"
Potential issue with multidimensional parameters

The value is computed here:
https://github.com/chipsalliance/Surelog/blob/24d778d0bc7741497597d2c217132c0bb07d7692/src/DesignCompile/CompileHelper.cpp#L2675

The value is forced to being true based on whether or not its compiling in elaboration mode (basically always true for non-elab mode):
https://github.com/chipsalliance/Surelog/blob/24d778d0bc7

[2022-10-14 08:42] hzeller commented on #3160
Work in progress. But here is a simpler way:

[code]

Determining both values in one command.

[2022-10-14 17:24] #3266 closed

[2022-10-15 22:14] hs-apotell opened #3270 "Inconsistent vpiSize between non-elab and elab tree"
Test: ComplexParamOverload

Notice that the vpiSize value changes from 32 in all-modules to 64 in top-modules.
Also noticing similar issue in many other tests.

Uhdm snippet:
[code]

[2022-10-26 04:55] alaindargelas opened #3288 "Incorrect defparam modeling"
module hierdefparam_top();
  generate begin:foo
    hierdefparam_a mod_a();
  end endgenerate
  defparam foo.mod_a.bar[0].mod_b.addvalue = 42;
  defparam foo.mod_a.bar[1].mod_b.addvalue = 43;
endmodule

module hierdefparam_a();
  genvar i;
  generate
    for (i = 0; i < 2; i=i+1) begin:bar
      hierdefparam_b mod_b();
    end
  endgenerate

endmodule

module hierdefparam_b();
  parameter [7:0] ad

[2022-10-26 05:29] alaindargelas commented on #3288
Fixed by #3289

[2022-10-26 05:29] #3288 closed

[2022-10-28 15:07] wsipak opened #3293 "Surelog mishandles simple decimal numbers that exceed 64 bits."
See this example with a simple decimal number, and a based literal constant with the same value:
[code]

The value assigned to `a` is interpreted as 2^64-1.

[code]

[2022-10-29 16:34] alaindargelas commented on #3293
Fixed by #3296

[2022-10-29 16:34] #3293 closed

[2022-11-04 19:27] hzeller commented on #3160
For the actual tagging, then:

[code]
This will ta the repo if that tag is not already available.

[2022-11-04 19:51] hzeller commented on #3160
The corresponding UDHM hash then is (assuming `HASH` has already been calculated):

[code]

TODO: tagging used to be `v0.9.${SURELOG_VERSION}`, but with tag [v0.9.2](https://github.com/chipsalliance/UHDM/releases/tag/v0.9.2) this might need changing. Maybe also use the same version number Surelog uses ?

[2022-11-05 05:56] #3202 closed, assigned to nobody

[2022-11-05 17:55] alaindargelas opened #3313 "Rsd testcase: Warning: set address range perms: large range"
[code]

Emits:

[code]

This is the testcase that crashes in the CI.

[2022-11-05 17:59] alaindargelas commented on #3313
@hs-apotell the error on large memory allocation is a "warning" from the system. But the regression.py errors out

[2022-11-06 17:43] hzeller commented on #3160
Decision: tag UHDM with the same version as Surelog.

[code]

Surelog tags https://github.com/chipsalliance/Surelog/tags
UDHM tags https://github.com/chipsalliance/UHDM/tags

[2022-11-08 05:23] alaindargelas opened #3318 "Attribute issue in function call"
[code]

The attribute throws the AST walker off. The function call is treated as a variable.

[2022-11-08 06:05] alaindargelas commented on #3318
Fixed by #3319

[2022-11-08 06:05] #3318 closed

[2022-11-08 17:02] hs-apotell opened #3322 "Build times on CI"
Build times on CI have gone up drastically, now almost 3 hours for each build. Is there a plan to pull back this to be under reasonable limits?

One proposal (not the only proposal) - Manually bucketing the regression tests into a handful of buckets where each bucket can be completed in reasonable time. The workflow will be more like a pipeline - run build and archive the tests as artifacts and ea

[2022-11-09 06:27] alaindargelas opened #3324 "UHDM dump does not contain the correct data for type_parameters (Ariane test)"
[code]
Bogus message:

[ERR:UH0725] /home/alain/Surelog/tests/ScratchPad.sv:17:5: Unresolved hierarchical reference "err_resp.w_ready".

[2022-11-09 18:55] hzeller commented on #3322
Ok, so local sharding preferred to external runners (which indeed, I just asked, would only really work for Linux and require some work for Windows but will not be possible for Macs).

Anything other than hash would be either (a) manual (b) uneven (e.g. if you choose alphabetically).

So using the standard way of doing the sharding with hashes is the best of all. If you want predictability, this i

[2022-11-10 04:51] alaindargelas commented on #3324
Fixed by #3327

[2022-11-10 04:51] #3324 closed

[2022-11-10 08:43] proppy commented on #3322
Yes https://github.com/actions/cache combined with https://docs.github.com/en/actions/using-jobs/using-a-matrix-for-your-jobs can definitly help for that.

@umarcor might also have some ideas!

[2022-11-10 16:57] hzeller commented on #3322
My current WIP approach is #3326 in which I store the built binaries to then be picked up by the next stage. Then sharding that next stage with a matrix.

[2022-11-12 21:56] #3212 closed, assigned to nobody

[2022-11-14 15:35] mandrys opened #3339 "UHDM lacks vpiSigned in the port node"
This issue was spotted in UHDM output of this test: https://github.com/YosysHQ/yosys/blob/master/tests/simple/func_width_scope.v
Here it goes a minimal test code for this issue:

[code]
Then in the UHDM, there is no _vpiSigned_ value for _inp_, so UHDM is the same, no matter if _inp_ is signed or not.

[code]

[2022-11-14 16:19] hzeller commented on #3054
I still think we should have a the filesystem keep track of its own IDs, so e.g. have its own SymbolTable.
If it can be accessed from different threads, then it should just wrap it with a mutex.

[2022-11-15 06:36] alaindargelas commented on #3339
Fixed by #3341

[2022-11-15 06:36] #3339 closed

[2022-11-17 14:14] mandrys opened #3346 "Calling a func inside a range doesn't work properly"
In the example below, the range of `xc` is miscalculated because of using a function call.

[code]
As a result, we get negative `vpiDecompile` value and wrong INT value:

[code]

 If we use a constant instead of a func call, like `wire [31-1:0] xc;`, the example works fine.

[2022-11-18 06:54] alaindargelas commented on #3346
The function return value range is ignored. No matter what is the call context. That's the problem.

[2022-11-21 05:34] alaindargelas opened #3348 "Antlr v4.11.1 is not working for Surelog"
I updated locally Antlr v4.11.1,
I replaced the jar file in the CMakeLists.txt:
set(ANTLR_JAR_LOCATION
    ${PROJECT_SOURCE_DIR}/third_party/antlr4_bin/antlr-4.11.1-complete.jar)

Compilation fails during the execution of compiling the UVM packages, after many warnings:

[code]
The preprocessor's parser craches at:
[code]

[2022-11-21 05:53] alaindargelas commented on #3346
Fixed by #3347

[2022-11-21 05:53] #3346 closed

[2022-11-23 07:50] alaindargelas commented on #3348
@parrt is that a known issue ?

[2022-11-23 18:11] parrt commented on #3348
Yes that was fixed but I introduce another bug but that has also been fixed haha. If you grab the latest from dev branch, the upcoming 4.11.2, you will have the fixes. I think you want to patch

https://github.com/antlr/antlr4/pull/3958

and

https://github.com/antlr/antlr4/pull/3978

[2022-11-23 18:11] parrt commented on #3348
by the way I also fixed that parentheses thing...

[2022-11-24 04:17] alaindargelas commented on #3348
Thanks @parrt!

[2022-11-24 23:10] alaindargelas commented on #3348
Fixed by https://github.com/chipsalliance/Surelog/pull/3354

[2022-11-24 23:10] #3348 closed

[2022-11-30 04:14] alaindargelas opened #3362 "test-plugin test is broken"
There was a change in the API of SynthSubset class some time back.
The plugin didn't get updated in this test:
https://github.com/chipsalliance/Surelog/actions/runs/3551926372/jobs/5966501132

[2022-11-30 06:59] rkapuscik commented on #3362
This was fixed with https://github.com/chipsalliance/yosys-f4pga-plugins/pull/407 (merged two days ago, last Surelog build is four days old). I'll update the integration repository and rerun the CI to verify.

[2022-11-30 13:27] rkapuscik commented on #3362
Updated the integration repository (https://github.com/antmicro/yosys-systemverilog/pull/1313), the Surelog test now passes, see https://github.com/chipsalliance/Surelog/actions/runs/3551926639.

[2022-11-30 13:27] #3362 closed